rwr-lms-all-workflows.json
{
  "meta": {
    "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
  },
  "workflows": [
    {
      "name": "Agent 02 — Quiz Master",
      "nodes": [
        {
          "parameters": {},
          "id": "a1000000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT u.id AS user_id, e.id AS enrolment_id, e.current_module_id,\n       m.title AS module_title, m.content AS module_content,\n       c.title AS course_title\nFROM users u\nJOIN enrolments e ON e.user_id = u.id\nJOIN modules m ON m.id = e.current_module_id\nJOIN courses c ON c.id = e.course_id\nWHERE u.slack_user_id = $1\nORDER BY e.enrolled_at DESC\nLIMIT 1;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.user_id]) }}"
            }
          },
          "id": "a1000000-0000-0000-0000-000000000002",
          "name": "Get Current Module",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "check-module",
                  "leftValue": "={{ $json.user_id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a1000000-0000-0000-0000-000000000003",
          "name": "Has Active Module?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            480,
            0
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "You don't have an active module. Use `/enroll <course-code>` to join a course first."
            },
            "options": {}
          },
          "id": "a1000000-0000-0000-0000-000000000004",
          "name": "No Active Module Reply",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            720,
            200
          ]
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=You are the Quiz Master for the RWR Group Learning Management System.\n\nCurrent module: {{ $json.module_title }}\nCourse: {{ $json.course_title }}\nModule content summary: {{ $json.module_content }}\n\nLearner's submission: {{ $('When Called by Supervisor').item.json.text }}\nLearner Slack username: {{ $('When Called by Supervisor').item.json.user_name }}\n\nEvaluate the submission against the module content. Decide:\n- PASS: The learner demonstrated understanding of the module objectives\n- FAIL: The submission does not meet the requirements, explain what is missing\n- INCOMPLETE: The submission is too brief or off-topic\n\nRespond with a JSON object:\n{\n  \"result\": \"PASS\" | \"FAIL\" | \"INCOMPLETE\",\n  \"feedback\": \"<encouraging, specific feedback in 2-3 sentences>\",\n  \"score\": <0-100>\n}",
            "options": {
              "systemMessage": "You are a fair, encouraging quiz evaluator for a corporate LMS. Be constructive and specific."
            }
          },
          "id": "a1000000-0000-0000-0000-000000000005",
          "name": "Gemini Evaluate Submission",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2,
          "position": [
            720,
            -200
          ],
          "credentials": {
            "googlePalmApi": {
              "id": "gemini-creds",
              "name": "Gemini API"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const raw = $json.output || $json.text || '{}';\nlet parsed;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch (e) {\n  parsed = { result: 'INCOMPLETE', feedback: raw, score: 0 };\n}\nreturn [{ json: { ...parsed, ...$('Get Current Module').item.json, ...$('When Called by Supervisor').item.json } }];\n"
          },
          "id": "a1000000-0000-0000-0000-000000000006",
          "name": "Parse Evaluation",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            960,
            -200
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "loose",
                "version": 3
              },
              "conditions": [
                {
                  "id": "check-pass",
                  "leftValue": "={{ $json.result }}",
                  "rightValue": "PASS",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a1000000-0000-0000-0000-000000000007",
          "name": "Passed?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1200,
            -200
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "WITH progress_insert AS (\n  INSERT INTO progress (user_id, module_id)\n  VALUES ($1, $2)\n  ON CONFLICT (user_id, module_id) DO NOTHING\n),\nnext_module AS (\n  SELECT id AS next_id FROM modules\n  WHERE course_id = (SELECT course_id FROM modules WHERE id = $2)\n    AND position > (SELECT position FROM modules WHERE id = $2)\n  ORDER BY position ASC\n  LIMIT 1\n)\nUPDATE enrolments\nSET\n  current_module_id = (SELECT next_id FROM next_module),\n  completed_at = CASE\n    WHEN (SELECT next_id FROM next_module) IS NULL THEN NOW()\n    ELSE completed_at\n  END\nWHERE id = $3\nRETURNING current_module_id, completed_at;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$('Parse Evaluation').item.json.user_id, $('Parse Evaluation').item.json.current_module_id, $('Parse Evaluation').item.json.enrolment_id]) }}"
            }
          },
          "id": "a1000000-0000-0000-0000-000000000008",
          "name": "Record Progress & Advance",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            1440,
            -300
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "loose",
                "version": 3
              },
              "conditions": [
                {
                  "id": "check-complete",
                  "leftValue": "={{ $json.completed_at }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a1000000-0000-0000-0000-000000000011",
          "name": "Course Complete?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1680,
            -300
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Parse Evaluation').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "in_channel",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "🎓 Course Complete!"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":trophy: *Congratulations, <@{{ $('Parse Evaluation').item.json.user_id }}>!* You've completed every module in *{{ $('Parse Evaluation').item.json.course_title }}*.\n\n{{ $('Parse Evaluation').item.json.feedback }}\n\n*Score on final module:* {{ $('Parse Evaluation').item.json.score }}/100"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Use `/cert` to claim your certificate of completion!"
                  }
                }
              ]
            },
            "options": {}
          },
          "id": "a1000000-0000-0000-0000-000000000012",
          "name": "Send Course Complete Response",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1920,
            -200
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Parse Evaluation').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "in_channel",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":white_check_mark: *Mission Complete!* <@{{ $('Parse Evaluation').item.json.user_id }}>\n\n{{ $('Parse Evaluation').item.json.feedback }}\n\n*Score:* {{ $('Parse Evaluation').item.json.score }}/100"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Your progress has been saved. Use `/learn` to continue to your next lesson."
                  }
                }
              ]
            },
            "options": {}
          },
          "id": "a1000000-0000-0000-0000-000000000009",
          "name": "Send Pass Response",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1920,
            -400
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('Parse Evaluation').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":x: *Not quite yet, {{ $('Parse Evaluation').item.json.user_name }}!*\n\n{{ $('Parse Evaluation').item.json.feedback }}\n\nReview the module with `/learn` and try again when ready."
                  }
                }
              ]
            },
            "options": {}
          },
          "id": "a1000000-0000-0000-0000-000000000010",
          "name": "Send Fail Response",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1440,
            -100
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Get Current Module",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Current Module": {
          "main": [
            [
              {
                "node": "Has Active Module?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Has Active Module?": {
          "main": [
            [
              {
                "node": "Gemini Evaluate Submission",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No Active Module Reply",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini Evaluate Submission": {
          "main": [
            [
              {
                "node": "Parse Evaluation",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parse Evaluation": {
          "main": [
            [
              {
                "node": "Passed?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Passed?": {
          "main": [
            [
              {
                "node": "Record Progress & Advance",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Send Fail Response",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Record Progress & Advance": {
          "main": [
            [
              {
                "node": "Course Complete?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Course Complete?": {
          "main": [
            [
              {
                "node": "Send Course Complete Response",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Send Pass Response",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "wpJOwdjIluP9n6Tu",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Quiz"
        }
      ]
    },
    {
      "name": "Agent 03 — Tutor",
      "nodes": [
        {
          "parameters": {},
          "id": "a3000000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT u.id AS user_id, e.id AS enrolment_id,\n       COALESCE(e.current_module_id, m_first.id) AS current_module_id,\n       m.title AS module_title, m.content AS module_content,\n       m.position AS module_position,\n       c.title AS course_title, c.id AS course_id,\n       (\n         SELECT COUNT(*) FROM modules WHERE course_id = c.id\n       ) AS total_modules,\n       (\n         SELECT COUNT(*) FROM progress p2\n         JOIN modules m2 ON m2.id = p2.module_id\n         WHERE p2.user_id = u.id AND m2.course_id = c.id\n       ) AS completed_modules\nFROM users u\nJOIN enrolments e ON e.user_id = u.id\nJOIN courses c ON c.id = e.course_id\nLEFT JOIN modules m ON m.id = e.current_module_id\nLEFT JOIN LATERAL (\n  SELECT id FROM modules WHERE course_id = c.id ORDER BY position ASC LIMIT 1\n) m_first ON true\nWHERE u.slack_user_id = $1\n  AND e.completed_at IS NULL\nORDER BY e.enrolled_at DESC\nLIMIT 1;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.user_id]) }}"
            }
          },
          "id": "a3000000-0000-0000-0000-000000000002",
          "name": "Get User Enrolment & Module",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "check-enrolled",
                  "leftValue": "={{ $json.enrolment_id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a3000000-0000-0000-0000-000000000003",
          "name": "Is Enrolled?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            480,
            0
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "You're not enrolled in any course yet. Use `/enroll <course-code>` to get started!"
            },
            "options": {}
          },
          "id": "a3000000-0000-0000-0000-000000000004",
          "name": "Not Enrolled Reply",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            720,
            200
          ]
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=You are a friendly, expert tutor for the RWR Group Learning Management System.\n\nCourse: {{ $json.course_title }}\nModule {{ $json.module_position + 1 }} of {{ $json.total_modules }}: {{ $json.module_title }}\nModule Content: {{ $json.module_content }}\n\nLearner: {{ $('When Called by Supervisor').item.json.user_name }}\nLearner requested lesson number: {{ $('When Called by Supervisor').item.json.lesson || 'current' }}\nModules completed so far: {{ $json.completed_modules }}/{{ $json.total_modules }}\n\nPresent this lesson in an engaging, conversational way. Structure your response as:\n1. A warm greeting with their name and brief progress summary\n2. The lesson content broken into clear, digestible points (use bullet points)\n3. A practical example or scenario relevant to RWR Group\n4. A clear mission/task they need to complete (this will be evaluated by /submit)\n5. Encouragement to submit with /submit when ready\n\nKeep the total response under 800 characters to fit Slack formatting well.\nUse Slack mrkdwn formatting: *bold*, _italic_, • bullets.",
            "options": {
              "systemMessage": "You are a warm, knowledgeable corporate trainer. Make learning feel achievable and relevant."
            }
          },
          "id": "a3000000-0000-0000-0000-000000000005",
          "name": "Gemini Generate Lesson",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2,
          "position": [
            720,
            -200
          ],
          "credentials": {
            "googlePalmApi": {
              "id": "gemini-creds",
              "name": "Gemini API"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "in_channel",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "📚 {{ $('Get User Enrolment & Module').item.json.module_title }}"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "{{ $('Get User Enrolment & Module').item.json.course_title }} · Module {{ $('Get User Enrolment & Module').item.json.module_position + 1 }}/{{ $('Get User Enrolment & Module').item.json.total_modules }} · {{ $('Get User Enrolment & Module').item.json.completed_modules }} completed"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "={{ $json.output }}"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "When you've completed the mission, use `/submit <your answer>` to continue."
                  }
                }
              ]
            },
            "options": {}
          },
          "id": "a3000000-0000-0000-0000-000000000006",
          "name": "Send Lesson to Slack",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            960,
            -200
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Get User Enrolment & Module",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get User Enrolment & Module": {
          "main": [
            [
              {
                "node": "Is Enrolled?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Is Enrolled?": {
          "main": [
            [
              {
                "node": "Gemini Generate Lesson",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Not Enrolled Reply",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini Generate Lesson": {
          "main": [
            [
              {
                "node": "Send Lesson to Slack",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "e0yErInDqhfKbNls",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Tutor"
        }
      ]
    },
    {
      "name": "Agent 04 — Progress Tracker",
      "nodes": [
        {
          "parameters": {},
          "id": "a4000000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  u.id AS user_id,\n  u.display_name,\n  COALESCE(\n    (\n      SELECT json_agg(json_build_object(\n        'course', c.title,\n        'course_code', c.code,\n        'enrolled_at', e.enrolled_at,\n        'completed_at', e.completed_at,\n        'total_modules', (SELECT COUNT(*) FROM modules WHERE course_id = c.id),\n        'completed_modules', (\n          SELECT COUNT(*) FROM progress p\n          JOIN modules m ON m.id = p.module_id\n          WHERE p.user_id = u.id AND m.course_id = c.id\n        ),\n        'current_module', (SELECT title FROM modules WHERE id = e.current_module_id)\n      ))\n      FROM enrolments e\n      JOIN courses c ON c.id = e.course_id\n      WHERE e.user_id = u.id\n    ),\n    '[]'::json\n  ) AS enrolments,\n  (\n    SELECT COUNT(*) FROM certificates WHERE user_id = u.id\n  ) AS certificates_earned\nFROM users u\nWHERE u.slack_user_id = $1;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.user_id]) }}"
            }
          },
          "id": "a4000000-0000-0000-0000-000000000002",
          "name": "Get Full Progress",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "check-user",
                  "leftValue": "={{ $json.user_id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a4000000-0000-0000-0000-000000000003",
          "name": "User Found?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            480,
            0
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "No account found. Use `/onboard` to get set up, or `/enroll <course-code>` to start a course."
            },
            "options": {}
          },
          "id": "a4000000-0000-0000-0000-000000000004",
          "name": "No Account Reply",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            720,
            200
          ]
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=You are the Progress Tracker for the RWR Group LMS.\n\nLearner: {{ $json.display_name || $('When Called by Supervisor').item.json.user_name }}\nCertificates earned: {{ $json.certificates_earned }}\nEnrolments: {{ JSON.stringify($json.enrolments) }}\n\nCreate a concise, motivating progress summary using Slack mrkdwn formatting.\nFor each course, show:\n- Course name\n- Progress bar using emoji blocks (e.g. 🟩🟩🟩⬜⬜ for 60%)\n- Completed / Total modules\n- Status: In Progress / Completed\n- Current module name (if in progress)\n\nEnd with a brief motivational message referencing their overall achievement.\nKeep total response under 1200 characters.",
            "options": {
              "systemMessage": "You are a motivating progress coach. Celebrate wins and encourage continued learning."
            }
          },
          "id": "a4000000-0000-0000-0000-000000000005",
          "name": "Gemini Format Progress",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2,
          "position": [
            720,
            -200
          ],
          "credentials": {
            "googlePalmApi": {
              "id": "gemini-creds",
              "name": "Gemini API"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "📊 Your Learning Progress"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "={{ $json.output }}"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "🏆 *{{ $('Get Full Progress').item.json.certificates_earned }} certificate(s) earned* · Use `/cert` to claim yours"
                    }
                  ]
                }
              ]
            },
            "options": {}
          },
          "id": "a4000000-0000-0000-0000-000000000006",
          "name": "Send Progress to Slack",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            960,
            -200
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Get Full Progress",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Full Progress": {
          "main": [
            [
              {
                "node": "User Found?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "User Found?": {
          "main": [
            [
              {
                "node": "Gemini Format Progress",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No Account Reply",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini Format Progress": {
          "main": [
            [
              {
                "node": "Send Progress to Slack",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "z8j0WZhQCfsduOdi",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Progress"
        }
      ]
    },
    {
      "name": "Agent 05 — Course Catalog",
      "nodes": [
        {
          "parameters": {},
          "id": "a5000000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  c.code,\n  c.title,\n  c.description,\n  (SELECT COUNT(*) FROM modules WHERE course_id = c.id) AS module_count,\n  CASE WHEN c.code LIKE 'OB-%' THEN true ELSE false END AS is_onboarding\nFROM courses c\nORDER BY is_onboarding DESC, c.code;",
            "options": {}
          },
          "id": "a5000000-0000-0000-0000-000000000002",
          "name": "Get All Courses",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const courses = $input.all();\n\nif (courses.length === 0) {\n  return [{\n    json: {\n      catalog_text: '_No courses are currently available. Contact your LMS admin to add courses._',\n      course_count: 0\n    }\n  }];\n}\n\nconst lines = courses.map(item => {\n  const c = item.json;\n  const tag = c.is_onboarding ? ' _(onboarding)_' : '';\n  const desc = c.description ? `\\n  ${c.description}` : '';\n  return `*${c.code}*${tag} — ${c.title} · ${c.module_count} module${c.module_count != 1 ? 's' : ''}${desc}`;\n});\n\nreturn [{\n  json: {\n    catalog_text: lines.join('\\n\\n'),\n    course_count: courses.length\n  }\n}];\n",
            "mode": "runOnceForAllItems"
          },
          "id": "a5000000-0000-0000-0000-000000000003",
          "name": "Format Catalog",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            480,
            0
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "📚 Available Courses"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "={{ $json.catalog_text }}"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "{{ $json.course_count }} course(s) available · Use `/enroll <CODE>` to join a course"
                    }
                  ]
                }
              ]
            },
            "options": {}
          },
          "id": "a5000000-0000-0000-0000-000000000004",
          "name": "Send Catalog to Slack",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            720,
            0
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Get All Courses",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get All Courses": {
          "main": [
            [
              {
                "node": "Format Catalog",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Format Catalog": {
          "main": [
            [
              {
                "node": "Send Catalog to Slack",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "a5CatalogWrkflw01",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Catalog"
        }
      ]
    },
    {
      "name": "Agent 06 — Help",
      "nodes": [
        {
          "parameters": {},
          "id": "a6000000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "🎓 RWR Group LMS — Help"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Learning Commands*\n`/learn` — Start or resume your current lesson\n`/learn <N>` — Jump to lesson number N\n`/submit <answer>` — Submit your answer for the current module\n`/progress` — View your learning progress across all courses\n`/courses` — Browse all available courses"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Enrolment Commands*\n`/enroll <CODE>` — Enrol in a course using its code\n`/unenroll <CODE>` — Leave a course\n`/onboard` — Run the onboarding workflow (auto-enrols in OB courses)"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Achievement Commands*\n`/cert` — Claim your certificate once all modules are complete\n`/report` — View a summary report of your team's learning\n`/gaps` — Identify skill gaps in your learning path"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Admin Commands*\n`/backup` — Trigger a Google Sheets backup of all LMS data _(admin only)_"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "Need more help? Contact your LMS admin or visit the #lms-support channel."
                    }
                  ]
                }
              ]
            },
            "options": {}
          },
          "id": "a6000000-0000-0000-0000-000000000002",
          "name": "Send Help to Slack",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            240,
            0
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Send Help to Slack",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "a6HelpWorkflow001",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Help"
        }
      ]
    },
    {
      "name": "Agent 07 — Certification",
      "nodes": [
        {
          "parameters": {},
          "id": "a7000000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  u.id AS user_id,\n  u.display_name,\n  u.email,\n  e.id AS enrolment_id,\n  c.id AS course_id,\n  c.title AS course_title,\n  c.code AS course_code,\n  (\n    SELECT COUNT(*) FROM modules WHERE course_id = c.id\n  ) AS total_modules,\n  (\n    SELECT COUNT(*) FROM progress p\n    JOIN modules m ON m.id = p.module_id\n    WHERE p.user_id = u.id AND m.course_id = c.id\n  ) AS completed_modules,\n  (\n    SELECT id FROM certificates\n    WHERE user_id = u.id AND course_id = c.id\n  ) AS existing_cert_id\nFROM users u\nJOIN enrolments e ON e.user_id = u.id\nJOIN courses c ON c.id = e.course_id\nWHERE u.slack_user_id = $1\nORDER BY e.enrolled_at DESC\nLIMIT 1;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.user_id]) }}"
            }
          },
          "id": "a7000000-0000-0000-0000-000000000002",
          "name": "Check Completion Status",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "loose",
                "version": 3
              },
              "conditions": [
                {
                  "id": "already-cert",
                  "leftValue": "={{ $json.existing_cert_id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a7000000-0000-0000-0000-000000000003",
          "name": "Already Certified?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            480,
            0
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "🏆 You already have a certificate for *{{ $json.course_title }}*! Check your email or contact your LMS admin to retrieve it."
            },
            "options": {}
          },
          "id": "a7000000-0000-0000-0000-000000000004",
          "name": "Already Certified Reply",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            720,
            200
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "loose",
                "version": 3
              },
              "conditions": [
                {
                  "id": "all-done",
                  "leftValue": "={{ $json.completed_modules }}",
                  "rightValue": "={{ $json.total_modules }}",
                  "operator": {
                    "type": "number",
                    "operation": "gte"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a7000000-0000-0000-0000-000000000005",
          "name": "All Modules Done?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            720,
            -200
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "You've completed {{ $json.completed_modules }}/{{ $json.total_modules }} modules in *{{ $json.course_title }}*. Finish all modules first, then use `/cert` to claim your certificate."
            },
            "options": {}
          },
          "id": "a7000000-0000-0000-0000-000000000006",
          "name": "Not Complete Reply",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            960,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "WITH cert AS (\n  INSERT INTO certificates (user_id, course_id)\n  VALUES ($1, $2)\n  ON CONFLICT (user_id, course_id) DO NOTHING\n  RETURNING id, issued_at\n),\nenrol_update AS (\n  UPDATE enrolments SET completed_at = NOW()\n  WHERE id = $3 AND completed_at IS NULL\n  RETURNING id\n)\nSELECT id, TO_CHAR(issued_at, 'DD Month YYYY') AS issued_at_formatted FROM cert;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$('Check Completion Status').item.json.user_id, $('Check Completion Status').item.json.course_id, $('Check Completion Status').item.json.enrolment_id]) }}"
            }
          },
          "id": "a7000000-0000-0000-0000-000000000007",
          "name": "Issue Certificate",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            960,
            -400
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=You are issuing a certificate of completion for the RWR Group LMS.\n\nLearner name: {{ $('Check Completion Status').item.json.display_name || $('When Called by Supervisor').item.json.user_name }}\nCourse completed: {{ $('Check Completion Status').item.json.course_title }}\nDate: {{ $json.issued_at_formatted }}\n\nWrite a celebratory certificate announcement message in Slack mrkdwn format.\nInclude:\n- Congratulations header\n- What they achieved\n- The significance of the certification for RWR Group\n- Encouragement to share their achievement\nKeep it warm, professional, under 300 characters.",
            "options": {
              "systemMessage": "You are a congratulatory announcer. Be enthusiastic and genuine."
            }
          },
          "id": "a7000000-0000-0000-0000-000000000008",
          "name": "Gemini Draft Announcement",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2,
          "position": [
            1200,
            -400
          ],
          "credentials": {
            "googlePalmApi": {
              "id": "gemini-creds",
              "name": "Gemini API"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "in_channel",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "🏆 Certificate Issued!"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "={{ $json.output }}"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "Certificate for *{{ $('Check Completion Status').item.json.course_title }}* · Issued {{ $('Issue Certificate').item.json.issued_at_formatted }}"
                    }
                  ]
                }
              ]
            },
            "options": {}
          },
          "id": "a7000000-0000-0000-0000-000000000009",
          "name": "Post Certificate to Channel",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1440,
            -400
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Check Completion Status",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check Completion Status": {
          "main": [
            [
              {
                "node": "Already Certified?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Already Certified?": {
          "main": [
            [
              {
                "node": "Already Certified Reply",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "All Modules Done?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "All Modules Done?": {
          "main": [
            [
              {
                "node": "Issue Certificate",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Not Complete Reply",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Issue Certificate": {
          "main": [
            [
              {
                "node": "Gemini Draft Announcement",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini Draft Announcement": {
          "main": [
            [
              {
                "node": "Post Certificate to Channel",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "TcY8C8malQ5SiTqZ",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Certification"
        }
      ]
    },
    {
      "name": "Agent 08 — Enrollment Manager",
      "nodes": [
        {
          "parameters": {},
          "id": "a8000000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "jsCode": "const payload = $json;\nconst courseCode = (payload.text || '').trim().toUpperCase();\nif (!courseCode) {\n  return [{ json: { ...payload, courseCode: '', error: 'no_code' } }];\n}\nreturn [{ json: { ...payload, courseCode } }];\n"
          },
          "id": "a8000000-0000-0000-0000-000000000002",
          "name": "Extract Course Code",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            240,
            0
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "loose",
                "version": 3
              },
              "conditions": [
                {
                  "id": "has-code",
                  "leftValue": "={{ $json.error }}",
                  "rightValue": "no_code",
                  "operator": {
                    "type": "string",
                    "operation": "notEquals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a8000000-0000-0000-0000-000000000003",
          "name": "Has Course Code?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            480,
            0
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "Please provide a course code. Usage: `/enroll <COURSE-CODE>`\n\nUse `/courses` to browse available courses, or ask your LMS admin for a code."
            },
            "options": {}
          },
          "id": "a8000000-0000-0000-0000-000000000004",
          "name": "No Code Reply",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            720,
            200
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "WITH upsert AS (\n  INSERT INTO users (slack_user_id, slack_team_id, display_name)\n  VALUES ($1, $2, $3)\n  ON CONFLICT (slack_user_id) DO UPDATE SET display_name = EXCLUDED.display_name\n  RETURNING id\n)\nSELECT\n  c.id AS course_id,\n  c.title AS course_title,\n  c.code AS course_code,\n  c.description AS course_description,\n  m.id AS first_module_id,\n  m.title AS first_module_title,\n  (SELECT COUNT(*) FROM modules WHERE course_id = c.id) AS total_modules,\n  (SELECT id FROM upsert) AS user_id,\n  (\n    SELECT id FROM enrolments e2\n    WHERE e2.user_id = (SELECT id FROM upsert)\n      AND e2.course_id = c.id\n  ) AS existing_enrolment_id\nFROM courses c\nLEFT JOIN modules m ON m.id = (\n  SELECT id FROM modules WHERE course_id = c.id ORDER BY position ASC LIMIT 1\n)\nWHERE UPPER(c.code) = $4;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.user_id, $json.team_id, $json.user_name, $json.courseCode]) }}"
            }
          },
          "id": "a8000000-0000-0000-0000-000000000005",
          "name": "Lookup Course & Upsert User",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            720,
            -200
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "course-found",
                  "leftValue": "={{ $json.course_id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a8000000-0000-0000-0000-000000000006",
          "name": "Course Found?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            960,
            -200
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "Course code *{{ $('Extract Course Code').item.json.courseCode }}* not found. Use `/courses` to see what's available, or contact your LMS admin."
            },
            "options": {}
          },
          "id": "a8000000-0000-0000-0000-000000000007",
          "name": "Course Not Found Reply",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1200,
            0
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "loose",
                "version": 3
              },
              "conditions": [
                {
                  "id": "already-enrolled",
                  "leftValue": "={{ $json.existing_enrolment_id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a8000000-0000-0000-0000-000000000008",
          "name": "Already Enrolled?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1200,
            -400
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "You're already enrolled in *{{ $json.course_title }}*! Use `/learn` to continue where you left off."
            },
            "options": {}
          },
          "id": "a8000000-0000-0000-0000-000000000009",
          "name": "Already Enrolled Reply",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1440,
            -200
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "INSERT INTO enrolments (user_id, course_id, current_module_id)\nVALUES ($1, $2, $3)\nRETURNING id;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.user_id, $json.course_id, $json.first_module_id]) }}"
            }
          },
          "id": "a8000000-0000-0000-0000-000000000010",
          "name": "Create Enrolment",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            1440,
            -600
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "in_channel",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "🎓 Enrolled Successfully!"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Welcome to *{{ $('Lookup Course & Upsert User').item.json.course_title }}*, <@{{ $('When Called by Supervisor').item.json.user_id }}>!\n\n{{ $('Lookup Course & Upsert User').item.json.course_description }}"
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*First Module:*\n{{ $('Lookup Course & Upsert User').item.json.first_module_title }}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Total Modules:*\n{{ $('Lookup Course & Upsert User').item.json.total_modules }}"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Use `/learn` to start your first lesson now!"
                  }
                }
              ]
            },
            "options": {}
          },
          "id": "a8000000-0000-0000-0000-000000000011",
          "name": "Send Enrolment Confirmation",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1680,
            -600
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Extract Course Code",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extract Course Code": {
          "main": [
            [
              {
                "node": "Has Course Code?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Has Course Code?": {
          "main": [
            [
              {
                "node": "Lookup Course & Upsert User",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No Code Reply",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Lookup Course & Upsert User": {
          "main": [
            [
              {
                "node": "Course Found?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Course Found?": {
          "main": [
            [
              {
                "node": "Already Enrolled?",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Course Not Found Reply",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Already Enrolled?": {
          "main": [
            [
              {
                "node": "Already Enrolled Reply",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Create Enrolment",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Create Enrolment": {
          "main": [
            [
              {
                "node": "Send Enrolment Confirmation",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "BjxEx4DjqMwlkrU4",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Enrollment"
        }
      ]
    },
    {
      "name": "Agent 09 — Gap Analyst (Gemini)",
      "nodes": [
        {
          "parameters": {},
          "id": "a9000000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "-- Stuck learners: enrolled but no progress in the last 7 days\nSELECT\n  u.display_name,\n  u.slack_user_id,\n  c.title AS course_title,\n  m.title AS stuck_module,\n  m.position + 1 AS module_number,\n  (\n    SELECT COUNT(*) FROM modules WHERE course_id = c.id\n  ) AS total_modules,\n  (\n    SELECT MAX(completed_at) FROM progress p2\n    JOIN modules m2 ON m2.id = p2.module_id\n    WHERE p2.user_id = u.id AND m2.course_id = c.id\n  ) AS last_progress_at,\n  e.enrolled_at\nFROM enrolments e\nJOIN users u ON u.id = e.user_id\nJOIN courses c ON c.id = e.course_id\nJOIN modules m ON m.id = e.current_module_id\nWHERE e.completed_at IS NULL\n  AND (\n    (\n      SELECT MAX(completed_at) FROM progress p3\n      JOIN modules m3 ON m3.id = p3.module_id\n      WHERE p3.user_id = u.id AND m3.course_id = c.id\n    ) < NOW() - INTERVAL '7 days'\n    OR (\n      SELECT COUNT(*) FROM progress p4\n      JOIN modules m4 ON m4.id = p4.module_id\n      WHERE p4.user_id = u.id AND m4.course_id = c.id\n    ) = 0\n  )\nORDER BY e.enrolled_at ASC\nLIMIT 20;",
            "options": {}
          },
          "id": "a9000000-0000-0000-0000-000000000002",
          "name": "Get Stuck Learners",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            -200
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "-- Hard modules: modules with lowest pass rate\nSELECT\n  m.title AS module_title,\n  m.position + 1 AS module_number,\n  c.title AS course_title,\n  COUNT(DISTINCT e.user_id) AS learners_reached,\n  COUNT(DISTINCT p.user_id) AS learners_passed,\n  ROUND(\n    100.0 * COUNT(DISTINCT p.user_id) / NULLIF(COUNT(DISTINCT e.user_id), 0),\n    1\n  ) AS pass_rate_pct\nFROM modules m\nJOIN courses c ON c.id = m.course_id\nLEFT JOIN enrolments e ON e.course_id = c.id\nLEFT JOIN progress p ON p.module_id = m.id AND p.user_id = e.user_id\nGROUP BY m.id, m.title, m.position, c.title\nHAVING COUNT(DISTINCT e.user_id) >= 2\nORDER BY pass_rate_pct ASC NULLS LAST\nLIMIT 5;",
            "options": {}
          },
          "id": "a9000000-0000-0000-0000-000000000003",
          "name": "Get Hard Modules",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            200
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=You are the Gap Analyst for the RWR Group LMS. You identify learning gaps and recommend interventions.\n\nSTUCK LEARNERS (no progress in 7+ days):\n{{ JSON.stringify($('Get Stuck Learners').all().map(i => i.json)) }}\n\nHARD MODULES (lowest pass rates):\n{{ JSON.stringify($('Get Hard Modules').all().map(i => i.json)) }}\n\nRequested by admin: {{ $('When Called by Supervisor').item.json.user_name }}\n\nProvide a concise gap analysis report in Slack mrkdwn format:\n\n*Section 1: Stuck Learners Summary*\n- Total count and which courses/modules they're stuck on\n- Pattern analysis (e.g. 'Most stuck on Module 3 of Sales Training')\n- Specific names/modules in a brief list (max 5, then 'and N more')\n- Recommended intervention (e.g. peer pairing, manager check-in)\n\n*Section 2: Hard Modules*\n- Modules with lowest pass rates\n- Hypothesis about why they're hard\n- Content improvement recommendation\n\n*Section 3: Quick Wins*\n- 2-3 actionable recommendations an admin can do today\n\nKeep total under 1500 characters.",
            "options": {
              "systemMessage": "You are a data-driven L&D analyst. Be specific, actionable, and concise."
            }
          },
          "id": "a9000000-0000-0000-0000-000000000004",
          "name": "Gemini Gap Analysis",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2,
          "position": [
            480,
            0
          ],
          "credentials": {
            "googlePalmApi": {
              "id": "gemini-creds",
              "name": "Gemini API"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "🔍 Learning Gap Analysis"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "Stuck learners: *{{ $('Get Stuck Learners').all().length }}* · Hard modules analysed: *{{ $('Get Hard Modules').all().length }}* · Generated {{ new Date().toLocaleDateString() }}"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "={{ $json.output }}"
                  }
                }
              ]
            },
            "options": {}
          },
          "id": "a9000000-0000-0000-0000-000000000005",
          "name": "Send Gap Report",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            720,
            0
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Get Stuck Learners",
                "type": "main",
                "index": 0
              },
              {
                "node": "Get Hard Modules",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Stuck Learners": {
          "main": [
            [
              {
                "node": "Gemini Gap Analysis",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Hard Modules": {
          "main": [
            [
              {
                "node": "Gemini Gap Analysis",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini Gap Analysis": {
          "main": [
            [
              {
                "node": "Send Gap Report",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "g5ZY673tbmDswpl4",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Gemini"
        },
        {
          "name": "Analytics"
        }
      ]
    },
    {
      "name": "Agent 10 — Unenroll",
      "nodes": [
        {
          "parameters": {},
          "id": "a10000000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "jsCode": "const payload = $json;\nconst courseCode = (payload.text || '').trim().toUpperCase();\nif (!courseCode) {\n  return [{ json: { ...payload, courseCode: '', error: 'no_code' } }];\n}\nreturn [{ json: { ...payload, courseCode } }];\n"
          },
          "id": "a10000000-0000-0000-0000-000000000002",
          "name": "Extract Course Code",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            240,
            0
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "loose",
                "version": 3
              },
              "conditions": [
                {
                  "id": "has-code",
                  "leftValue": "={{ $json.error }}",
                  "rightValue": "no_code",
                  "operator": {
                    "type": "string",
                    "operation": "notEquals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a10000000-0000-0000-0000-000000000003",
          "name": "Has Course Code?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            480,
            0
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "Please provide a course code. Usage: `/unenroll <COURSE-CODE>`\n\nUse `/courses` to see courses you're enrolled in."
            },
            "options": {}
          },
          "id": "a10000000-0000-0000-0000-000000000004",
          "name": "No Code Reply",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            720,
            200
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  e.id AS enrolment_id,\n  c.title AS course_title,\n  c.code AS course_code,\n  e.completed_at\nFROM enrolments e\nJOIN courses c ON c.id = e.course_id\nJOIN users u ON u.id = e.user_id\nWHERE u.slack_user_id = $1\n  AND UPPER(c.code) = $2;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.user_id, $json.courseCode]) }}"
            }
          },
          "id": "a10000000-0000-0000-0000-000000000005",
          "name": "Lookup Enrolment",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            720,
            -200
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "is-enrolled",
                  "leftValue": "={{ $json.enrolment_id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a10000000-0000-0000-0000-000000000006",
          "name": "Is Enrolled?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            960,
            -200
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "You're not enrolled in *{{ $('Extract Course Code').item.json.courseCode }}*. Use `/courses` to see available courses."
            },
            "options": {}
          },
          "id": "a10000000-0000-0000-0000-000000000007",
          "name": "Not Enrolled Reply",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1200,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "DELETE FROM enrolments WHERE id = $1 RETURNING id;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.enrolment_id]) }}"
            }
          },
          "id": "a10000000-0000-0000-0000-000000000008",
          "name": "Delete Enrolment",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            1200,
            -400
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "text": "You have been unenrolled from *{{ $('Lookup Enrolment').item.json.course_title }}*. Your progress records have been removed.\n\nUse `/courses` to find other courses, or `/enroll {{ $('Lookup Enrolment').item.json.course_code }}` to re-enrol."
            },
            "options": {}
          },
          "id": "a10000000-0000-0000-0000-000000000009",
          "name": "Send Unenroll Confirmation",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1440,
            -400
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Extract Course Code",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extract Course Code": {
          "main": [
            [
              {
                "node": "Has Course Code?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Has Course Code?": {
          "main": [
            [
              {
                "node": "Lookup Enrolment",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "No Code Reply",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Lookup Enrolment": {
          "main": [
            [
              {
                "node": "Is Enrolled?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Is Enrolled?": {
          "main": [
            [
              {
                "node": "Delete Enrolment",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Not Enrolled Reply",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Delete Enrolment": {
          "main": [
            [
              {
                "node": "Send Unenroll Confirmation",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "a10UnEnrollAgent1",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Enrollment"
        }
      ]
    },
    {
      "name": "Agent 11 — Proactive Nudge",
      "nodes": [
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "cronExpression",
                  "expression": "0 9 * * 1-5"
                }
              ]
            }
          },
          "id": "a11000000-0000-0000-0000-000000000001",
          "name": "Daily 9am Weekday Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.2,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  u.slack_user_id,\n  u.display_name,\n  c.title AS course_title,\n  m.title AS current_module_title,\n  e.current_module_id AS lesson_id,\n  (\n    SELECT COUNT(*) FROM progress p\n    JOIN modules m2 ON m2.id = p.module_id\n    WHERE p.user_id = u.id AND m2.course_id = c.id\n  ) AS completed_modules,\n  (SELECT COUNT(*) FROM modules WHERE course_id = c.id) AS total_modules,\n  (\n    SELECT MAX(p.completed_at) FROM progress p\n    JOIN modules m2 ON m2.id = p.module_id\n    WHERE p.user_id = u.id AND m2.course_id = c.id\n  ) AS last_activity\nFROM users u\nJOIN enrolments e ON e.user_id = u.id AND e.completed_at IS NULL\nJOIN courses c ON c.id = e.course_id\nLEFT JOIN modules m ON m.id = e.current_module_id\nWHERE\n  -- No module completed in the last 3 days\n  NOT EXISTS (\n    SELECT 1 FROM progress p\n    JOIN modules m2 ON m2.id = p.module_id\n    WHERE p.user_id = u.id\n      AND m2.course_id = c.id\n      AND p.completed_at > NOW() - INTERVAL '3 days'\n  )\n  -- Re-send daily only when there is no recent reaction to prior nudges\n  AND NOT EXISTS (\n    SELECT 1\n    FROM nudge_reactions nr\n    WHERE nr.user_id = u.id\n      AND nr.reacted_at > NOW() - INTERVAL '24 hours'\n  )\nORDER BY u.display_name;",
            "options": {}
          },
          "id": "a11000000-0000-0000-0000-000000000002",
          "name": "Get Stuck Learners",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://slack.com/api/chat.postMessage",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
                }
              ]
            },
            "sendBody": true,
            "contentType": "json",
            "body": {
              "channel": "={{ $json.slack_user_id }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "=👋 Hey {{ $json.display_name || 'there' }}! You haven't visited the LMS in a few days.\n\n*Course:* {{ $json.course_title }}\n*Where you left off:* {{ $json.current_module_title || 'Module 1' }}\n*Progress:* {{ $json.completed_modules }}/{{ $json.total_modules }} modules complete\n\nReady to pick up where you left off? React using the buttons below to review progress or resume your lesson. 🚀"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "Use the buttons to react. Tap 📝 Assignment to open a submission form (link or screenshot) that is auto-named and saved to Drive."
                    }
                  ]
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "action_id": "nudge_view_progress",
                      "text": {
                        "type": "plain_text",
                        "text": "View Progress"
                      },
                      "value": "progress"
                    },
                    {
                      "type": "button",
                      "action_id": "nudge_resume_lesson",
                      "text": {
                        "type": "plain_text",
                        "text": "Resume Lesson"
                      },
                      "value": "={{ String($json.lesson_id || \"\") }}"
                    },
                    {
                      "type": "button",
                      "action_id": "nudge_assignment_icon",
                      "text": {
                        "type": "plain_text",
                        "text": "📝 Assignment"
                      },
                      "style": "primary",
                      "value": "={{ JSON.stringify({ user_id: $json.slack_user_id, lesson_id: $json.lesson_id, course_title: $json.course_title }) }}"
                    }
                  ]
                }
              ]
            },
            "options": {}
          },
          "id": "a11000000-0000-0000-0000-000000000003",
          "name": "Send DM Nudge",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            480,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "INSERT INTO notifications (user_id, notification_type, message)\nSELECT u.id, 'nudge', 'Nudged about course: ' || $2\nFROM users u WHERE u.slack_user_id = $1;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.slack_user_id, $json.course_title]) }}"
            }
          },
          "id": "a11000000-0000-0000-0000-000000000004",
          "name": "Log Notification",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            720,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        }
      ],
      "connections": {
        "Daily 9am Weekday Trigger": {
          "main": [
            [
              {
                "node": "Get Stuck Learners",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Stuck Learners": {
          "main": [
            [
              {
                "node": "Send DM Nudge",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Send DM Nudge": {
          "main": [
            [
              {
                "node": "Log Notification",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "a11NudgeAgent001",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Nudge"
        },
        {
          "name": "Cron"
        }
      ]
    },
    {
      "name": "Agent 12 — Reporting Agent (Gemini)",
      "nodes": [
        {
          "parameters": {},
          "id": "ac120000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  -- Enrolment stats\n  (SELECT COUNT(*) FROM enrolments) AS total_enrolments,\n  (SELECT COUNT(*) FROM enrolments WHERE completed_at IS NOT NULL) AS completed_enrolments,\n  (SELECT COUNT(DISTINCT user_id) FROM enrolments) AS unique_learners,\n  (SELECT COUNT(DISTINCT user_id) FROM enrolments WHERE completed_at IS NOT NULL) AS learners_completed_a_course,\n\n  -- Active learners (progress in last 7 days)\n  (SELECT COUNT(DISTINCT user_id) FROM progress WHERE completed_at > NOW() - INTERVAL '7 days') AS active_learners_7d,\n\n  -- Completion rate\n  ROUND(\n    100.0 * (SELECT COUNT(*) FROM enrolments WHERE completed_at IS NOT NULL)\n    / NULLIF((SELECT COUNT(*) FROM enrolments), 0), 1\n  ) AS completion_rate_pct,\n\n  -- Certificates\n  (SELECT COUNT(*) FROM certificates) AS total_certificates,\n\n  -- Top courses by enrolment\n  (\n    SELECT json_agg(json_build_object(\n      'course', c.title,\n      'code', c.code,\n      'enrolments', cnt,\n      'completions', compl\n    ) ORDER BY cnt DESC)\n    FROM (\n      SELECT\n        e.course_id,\n        COUNT(*) AS cnt,\n        COUNT(e.completed_at) AS compl\n      FROM enrolments e\n      GROUP BY e.course_id\n      LIMIT 5\n    ) t\n    JOIN courses c ON c.id = t.course_id\n  ) AS top_courses,\n\n  -- Modules completed today\n  (SELECT COUNT(*) FROM progress WHERE completed_at::date = CURRENT_DATE) AS modules_completed_today,\n\n  -- New enrolments this week\n  (SELECT COUNT(*) FROM enrolments WHERE enrolled_at > NOW() - INTERVAL '7 days') AS new_enrolments_7d;",
            "options": {}
          },
          "id": "ac120000-0000-0000-0000-000000000002",
          "name": "Get LMS Stats",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=You are the Reporting Agent for the RWR Group LMS. Generate a concise executive dashboard.\n\nLMS STATS (as of {{ new Date().toLocaleDateString('en-GB') }}):\n- Total enrolments: {{ $json.total_enrolments }}\n- Unique learners: {{ $json.unique_learners }}\n- Active learners (7 days): {{ $json.active_learners_7d }}\n- New enrolments this week: {{ $json.new_enrolments_7d }}\n- Completed enrolments: {{ $json.completed_enrolments }}\n- Overall completion rate: {{ $json.completion_rate_pct }}%\n- Learners who finished a course: {{ $json.learners_completed_a_course }}\n- Total certificates issued: {{ $json.total_certificates }}\n- Modules completed today: {{ $json.modules_completed_today }}\n- Top courses: {{ JSON.stringify($json.top_courses) }}\n\nRequested by: {{ $('When Called by Supervisor').item.json.user_name }}\n\nCreate a Slack mrkdwn dashboard report with:\n1. *Headline KPIs* — 3-4 key numbers with emoji indicators (↑↓ trends if notable)\n2. *Course Performance* — top courses table (name | enrolments | completion %)\n3. *Health Indicators* — active learner rate, avg completion\n4. *AI Insight* — 2-3 sentences analysing what the data suggests about engagement\n5. *Recommended Actions* — 2 specific actions for the LMS admin\n\nKeep total under 1400 characters. Use Slack mrkdwn tables with pipe characters.",
            "options": {
              "systemMessage": "You are a sharp L&D analytics expert. Be data-driven, precise, and actionable."
            }
          },
          "id": "ac120000-0000-0000-0000-000000000003",
          "name": "Gemini Generate Report",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2,
          "position": [
            480,
            0
          ],
          "credentials": {
            "googlePalmApi": {
              "id": "gemini-creds",
              "name": "Gemini API"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "ephemeral",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "📊 LMS Analytics Dashboard"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "Generated {{ new Date().toLocaleString() }} · Requested by {{ $('When Called by Supervisor').item.json.user_name }}"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "={{ $json.output }}"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "Use `/gaps` for learner gap analysis"
                    }
                  ]
                }
              ]
            },
            "options": {}
          },
          "id": "ac120000-0000-0000-0000-000000000004",
          "name": "Send Dashboard to Slack",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            720,
            0
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Get LMS Stats",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get LMS Stats": {
          "main": [
            [
              {
                "node": "Gemini Generate Report",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini Generate Report": {
          "main": [
            [
              {
                "node": "Send Dashboard to Slack",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "HpgyOs9wKZz2mAQd",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Gemini"
        },
        {
          "name": "Reporting"
        }
      ]
    },
    {
      "name": "Agent 13 — Onboarding Agent (Gemini)",
      "nodes": [
        {
          "parameters": {},
          "id": "ad130000-0000-0000-0000-000000000001",
          "name": "When Called by Supervisor",
          "type": "n8n-nodes-base.workflowTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "INSERT INTO users (slack_user_id, slack_team_id, display_name)\nVALUES ($1, $2, $3)\nON CONFLICT (slack_user_id) DO UPDATE\n  SET display_name = EXCLUDED.display_name,\n      updated_at = NOW()\nRETURNING id, display_name, created_at,\n  (created_at = updated_at) AS is_new_user;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.user_id, $json.team_id, $json.user_name]) }}"
            }
          },
          "id": "ad130000-0000-0000-0000-000000000002",
          "name": "Upsert User",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  c.id AS course_id,\n  c.title,\n  c.code,\n  c.description,\n  (\n    SELECT id FROM modules WHERE course_id = c.id ORDER BY position ASC LIMIT 1\n  ) AS first_module_id,\n  (\n    SELECT COUNT(*) FROM modules WHERE course_id = c.id\n  ) AS total_modules,\n  (\n    SELECT id FROM enrolments\n    WHERE user_id = $1\n      AND course_id = c.id\n  ) AS existing_enrolment_id\nFROM courses c\nWHERE c.code LIKE 'OB-%'\nORDER BY c.code;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$('Upsert User').item.json.id]) }}"
            }
          },
          "id": "ad130000-0000-0000-0000-000000000003",
          "name": "Get Onboarding Courses",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            480,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "INSERT INTO enrolments (user_id, course_id, current_module_id)\nSELECT\n  $1,\n  c.id,\n  (SELECT id FROM modules WHERE course_id = c.id ORDER BY position ASC LIMIT 1)\nFROM courses c\nWHERE c.code LIKE 'OB-%'\n  AND NOT EXISTS (\n    SELECT 1 FROM enrolments e2\n    WHERE e2.user_id = $1\n      AND e2.course_id = c.id\n  )\nRETURNING course_id;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$('Upsert User').item.json.id]) }}"
            }
          },
          "id": "ad130000-0000-0000-0000-000000000004",
          "name": "Auto-Enrol in OB Courses",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            720,
            0
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=You are the Onboarding Agent for RWR Group's LMS, welcoming a new employee.\n\nNew employee: {{ $('When Called by Supervisor').item.json.user_name }}\nIs brand new user: {{ $('Upsert User').item.json.is_new_user }}\nOnboarding courses enrolled in: {{ JSON.stringify($('Get Onboarding Courses').all().map(i => ({ title: i.json.title, code: i.json.code, modules: i.json.total_modules }))) }}\nEnrolled in N new courses: {{ $('Auto-Enrol in OB Courses').all().length }}\n\nWrite a warm, professional Slack onboarding welcome message in mrkdwn format.\nInclude:\n1. Personal welcome greeting using their name\n2. Brief intro to the LMS purpose at RWR Group (1-2 sentences)\n3. Their learning path — list each onboarding course with a brief one-line description of why it matters\n4. Step-by-step quick-start guide:\n   • Step 1: Use /learn to start your first lesson\n   • Step 2: Complete the mission with /submit\n   • Step 3: Track progress with /progress\n   • Step 4: Earn your certificate with /cert\n5. Encouraging closing line\n\nTone: warm, welcoming, professional. Under 1000 characters total.",
            "options": {
              "systemMessage": "You are a warm, professional corporate onboarding specialist. Make the new employee feel welcomed and confident."
            }
          },
          "id": "ad130000-0000-0000-0000-000000000005",
          "name": "Gemini Welcome Message",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 2,
          "position": [
            960,
            0
          ],
          "credentials": {
            "googlePalmApi": {
              "id": "gemini-creds",
              "name": "Gemini API"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
            "sendBody": true,
            "contentType": "json",
            "body": {
              "response_type": "in_channel",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "👋 Welcome to RWR Group LMS!"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "={{ $json.output }}"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Courses enrolled:*\n{{ $('Get Onboarding Courses').all().map(i => '• ' + i.json.title + ' (' + i.json.total_modules + ' modules)').join('\\n') }}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Quick commands:*\n`/learn` — Start a lesson\n`/submit` — Complete a mission\n`/progress` — View your stats\n`/cert` — Claim a certificate"
                    }
                  ]
                }
              ]
            },
            "options": {}
          },
          "id": "ad130000-0000-0000-0000-000000000006",
          "name": "Post Welcome to Channel",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1200,
            0
          ]
        }
      ],
      "connections": {
        "When Called by Supervisor": {
          "main": [
            [
              {
                "node": "Upsert User",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Upsert User": {
          "main": [
            [
              {
                "node": "Get Onboarding Courses",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Onboarding Courses": {
          "main": [
            [
              {
                "node": "Auto-Enrol in OB Courses",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Auto-Enrol in OB Courses": {
          "main": [
            [
              {
                "node": "Gemini Welcome Message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini Welcome Message": {
          "main": [
            [
              {
                "node": "Post Welcome to Channel",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "id": "R8adLhGssCewBrKC",
      "meta": {
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Gemini"
        },
        {
          "name": "Onboarding"
        }
      ]
    },
    {
      "name": "Agent 14 — Google Sheets Backup",
      "nodes": [
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "cronExpression",
                  "expression": "0 2 * * *"
                }
              ]
            }
          },
          "id": "bkp-sched-0001",
          "name": "Nightly 2am UTC",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.2,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "backup",
            "options": {
              "rawBody": true
            }
          },
          "id": "bkp-web-0001",
          "name": "Backup Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [
            0,
            300
          ],
          "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        },
        {
          "parameters": {
            "jsCode": "const crypto = require('crypto');\nconst raw = $input.first().json;\nconst rawBody = raw.rawBody || '';\nconst headers = raw.headers || {};\nconst timestamp = String(headers['x-slack-request-timestamp'] || '');\nconst slackSignature = String(headers['x-slack-signature'] || '');\nconst signingSecret = String($env.SLACK_SIGNING_SECRET || '');\nconst fiveMinutesAgo = Math.floor(Date.now() / 1000) - 300;\nif (!timestamp || parseInt(timestamp, 10) < fiveMinutesAgo) {\n  return [{ json: { valid: false, reason: 'timestamp_expired_or_missing', ...raw } }];\n}\nif (!signingSecret) {\n  return [{ json: { valid: false, reason: 'signing_secret_not_configured', ...raw } }];\n}\nconst baseString = `v0:${timestamp}:${rawBody}`;\nconst hmac = crypto.createHmac('sha256', signingSecret).update(baseString).digest('hex');\nconst computed = `v0=${hmac}`;\nlet valid = false;\ntry {\n  const a = Buffer.from(computed, 'utf8');\n  const b = Buffer.from(slackSignature, 'utf8');\n  if (a.length === b.length) {\n    valid = crypto.timingSafeEqual(a, b);\n  }\n} catch (e) {\n  valid = false;\n}\nconst body = raw.body || {};\nreturn [{ json: { valid, response_url: body.response_url || '', user_id: body.user_id || '' } }];\n"
          },
          "id": "bkp-sig-0001",
          "name": "Validate Slack Signature",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            220,
            300
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "bkp-sig-check-01",
                  "leftValue": "={{ $json.valid }}",
                  "rightValue": true,
                  "operator": {
                    "type": "boolean",
                    "operation": "true"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "bkp-if-0001",
          "name": "Signature Valid?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            440,
            300
          ]
        },
        {
          "parameters": {
            "respondWith": "text",
            "responseBody": "Invalid request signature",
            "options": {
              "responseCode": 401
            }
          },
          "id": "bkp-rej-0001",
          "name": "Reject — Invalid Signature",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.1,
          "position": [
            660,
            500
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  u.slack_user_id,\n  u.display_name,\n  c.title  AS course_title,\n  m.title  AS module_title,\n  TO_CHAR(p.completed_at, 'YYYY-MM-DD HH24:MI:SS') AS completed_at\nFROM progress p\nJOIN users   u ON u.id = p.user_id\nJOIN modules m ON m.id = p.module_id\nJOIN courses c ON c.id = m.course_id\nORDER BY p.completed_at DESC",
            "options": {}
          },
          "id": "bkp-pg-0001",
          "name": "Query Progress",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            660,
            150
          ],
          "credentials": {
            "postgres": {
              "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "clear",
            "documentId": {
              "__rl": true,
              "value": "={{ $env.GOOGLE_SHEETS_BACKUP_ID }}",
              "mode": "id"
            },
            "sheetName": {
              "__rl": true,
              "value": "Progress",
              "mode": "name"
            },
            "options": {}
          },
          "id": "bkp-clear-0001",
          "name": "Clear Progress Sheet",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.5,
          "position": [
            880,
            150
          ],
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "REPLACE_WITH_GOOGLE_CREDENTIAL_ID",
              "name": "Google Sheets (LMS Backup)"
            }
          }
        },
        {
          "parameters": {
            "operation": "append",
            "documentId": {
              "__rl": true,
              "value": "={{ $env.GOOGLE_SHEETS_BACKUP_ID }}",
              "mode": "id"
            },
            "sheetName": {
              "__rl": true,
              "value": "Progress",
              "mode": "name"
            },
            "columns": {
              "mappingMode": "autoMapInputData",
              "value": {},
              "matchingColumns": [],
              "schema": []
            },
            "options": {}
          },
          "id": "bkp-gs-0001",
          "name": "Write Progress → Sheets",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.5,
          "position": [
            1100,
            150
          ],
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "REPLACE_WITH_GOOGLE_CREDENTIAL_ID",
              "name": "Google Sheets (LMS Backup)"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  u.slack_user_id,\n  u.display_name,\n  c.code   AS course_code,\n  c.title  AS course_title,\n  TO_CHAR(e.enrolled_at,  'YYYY-MM-DD HH24:MI:SS') AS enrolled_at,\n  CASE WHEN e.completed_at IS NOT NULL\n       THEN TO_CHAR(e.completed_at, 'YYYY-MM-DD HH24:MI:SS')\n       ELSE NULL END                               AS completed_at,\n  CASE WHEN e.completed_at IS NOT NULL\n       THEN 'Completed' ELSE 'In Progress' END     AS status\nFROM enrolments e\nJOIN users   u ON u.id = e.user_id\nJOIN courses c ON c.id = e.course_id\nORDER BY e.enrolled_at DESC",
            "options": {}
          },
          "id": "bkp-pg-0002",
          "name": "Query Enrollments",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            1320,
            150
          ],
          "credentials": {
            "postgres": {
              "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "clear",
            "documentId": {
              "__rl": true,
              "value": "={{ $env.GOOGLE_SHEETS_BACKUP_ID }}",
              "mode": "id"
            },
            "sheetName": {
              "__rl": true,
              "value": "Enrollments",
              "mode": "name"
            },
            "options": {}
          },
          "id": "bkp-clear-0002",
          "name": "Clear Enrollments Sheet",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.5,
          "position": [
            1540,
            150
          ],
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "REPLACE_WITH_GOOGLE_CREDENTIAL_ID",
              "name": "Google Sheets (LMS Backup)"
            }
          }
        },
        {
          "parameters": {
            "operation": "append",
            "documentId": {
              "__rl": true,
              "value": "={{ $env.GOOGLE_SHEETS_BACKUP_ID }}",
              "mode": "id"
            },
            "sheetName": {
              "__rl": true,
              "value": "Enrollments",
              "mode": "name"
            },
            "columns": {
              "mappingMode": "autoMapInputData",
              "value": {},
              "matchingColumns": [],
              "schema": []
            },
            "options": {}
          },
          "id": "bkp-gs-0002",
          "name": "Write Enrollments → Sheets",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.5,
          "position": [
            1760,
            150
          ],
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "REPLACE_WITH_GOOGLE_CREDENTIAL_ID",
              "name": "Google Sheets (LMS Backup)"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  u.slack_user_id,\n  u.display_name,\n  c.code   AS course_code,\n  c.title  AS course_title,\n  TO_CHAR(cert.issued_at, 'YYYY-MM-DD HH24:MI:SS') AS issued_at\nFROM certificates cert\nJOIN users   u ON u.id = cert.user_id\nJOIN courses c ON c.id = cert.course_id\nORDER BY cert.issued_at DESC",
            "options": {}
          },
          "id": "bkp-pg-0003",
          "name": "Query Certificates",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            1980,
            150
          ],
          "credentials": {
            "postgres": {
              "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "clear",
            "documentId": {
              "__rl": true,
              "value": "={{ $env.GOOGLE_SHEETS_BACKUP_ID }}",
              "mode": "id"
            },
            "sheetName": {
              "__rl": true,
              "value": "Certificates",
              "mode": "name"
            },
            "options": {}
          },
          "id": "bkp-clear-0003",
          "name": "Clear Certificates Sheet",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.5,
          "position": [
            2200,
            150
          ],
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "REPLACE_WITH_GOOGLE_CREDENTIAL_ID",
              "name": "Google Sheets (LMS Backup)"
            }
          }
        },
        {
          "parameters": {
            "operation": "append",
            "documentId": {
              "__rl": true,
              "value": "={{ $env.GOOGLE_SHEETS_BACKUP_ID }}",
              "mode": "id"
            },
            "sheetName": {
              "__rl": true,
              "value": "Certificates",
              "mode": "name"
            },
            "columns": {
              "mappingMode": "autoMapInputData",
              "value": {},
              "matchingColumns": [],
              "schema": []
            },
            "options": {}
          },
          "id": "bkp-gs-0003",
          "name": "Write Certificates → Sheets",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.5,
          "position": [
            2420,
            150
          ],
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "REPLACE_WITH_GOOGLE_CREDENTIAL_ID",
              "name": "Google Sheets (LMS Backup)"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  table_name,\n  row_count,\n  TO_CHAR(NOW(), 'YYYY-MM-DD HH24:MI:SS') AS snapshot_at\nFROM (\n  SELECT 'users'        AS table_name, COUNT(*)::int AS row_count FROM users\n  UNION ALL\n  SELECT 'courses',                    COUNT(*)      FROM courses\n  UNION ALL\n  SELECT 'modules',                    COUNT(*)      FROM modules\n  UNION ALL\n  SELECT 'enrolments',                 COUNT(*)      FROM enrolments\n  UNION ALL\n  SELECT 'progress',                   COUNT(*)      FROM progress\n  UNION ALL\n  SELECT 'certificates',               COUNT(*)      FROM certificates\n) counts",
            "options": {}
          },
          "id": "bkp-pg-0004",
          "name": "Query DB Snapshot",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            2640,
            150
          ],
          "credentials": {
            "postgres": {
              "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "append",
            "documentId": {
              "__rl": true,
              "value": "={{ $env.GOOGLE_SHEETS_BACKUP_ID }}",
              "mode": "id"
            },
            "sheetName": {
              "__rl": true,
              "value": "DB Snapshot",
              "mode": "name"
            },
            "columns": {
              "mappingMode": "autoMapInputData",
              "value": {},
              "matchingColumns": [],
              "schema": []
            },
            "options": {}
          },
          "id": "bkp-gs-0004",
          "name": "Write Snapshot → Sheets",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.5,
          "position": [
            2860,
            150
          ],
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "REPLACE_WITH_GOOGLE_CREDENTIAL_ID",
              "name": "Google Sheets (LMS Backup)"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const rows = $('Query DB Snapshot').all().map(i => i.json);\nconst counts = {};\nrows.forEach(r => { counts[r.table_name] = r.row_count; });\nconst ts = new Date().toUTCString();\nreturn [{\n  json: {\n    text: `*LMS Google Sheets Backup Complete* — ${ts}\\n` +\n      `• Progress records: ${counts.progress ?? 0}\\n` +\n      `• Enrollments: ${counts.enrolments ?? 0}\\n` +\n      `• Certificates: ${counts.certificates ?? 0}\\n` +\n      `• Total users: ${counts.users ?? 0} | Courses: ${counts.courses ?? 0} | Modules: ${counts.modules ?? 0}`\n  }\n}];\n"
          },
          "id": "bkp-code-0001",
          "name": "Build Summary",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            3080,
            150
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $env.SLACK_ADMIN_WEBHOOK_URL }}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "contentType": "raw",
            "rawContentType": "application/json",
            "body": "={{ JSON.stringify({ text: $json.text }) }}",
            "options": {}
          },
          "id": "bkp-http-0001",
          "name": "Notify Slack — Backup Complete",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            3300,
            150
          ]
        }
      ],
      "connections": {
        "Nightly 2am UTC": {
          "main": [
            [
              {
                "node": "Query Progress",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Backup Webhook": {
          "main": [
            [
              {
                "node": "Validate Slack Signature",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Validate Slack Signature": {
          "main": [
            [
              {
                "node": "Signature Valid?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Signature Valid?": {
          "main": [
            [
              {
                "node": "Query Progress",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Reject — Invalid Signature",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Query Progress": {
          "main": [
            [
              {
                "node": "Clear Progress Sheet",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Clear Progress Sheet": {
          "main": [
            [
              {
                "node": "Write Progress → Sheets",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Write Progress → Sheets": {
          "main": [
            [
              {
                "node": "Query Enrollments",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Query Enrollments": {
          "main": [
            [
              {
                "node": "Clear Enrollments Sheet",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Clear Enrollments Sheet": {
          "main": [
            [
              {
                "node": "Write Enrollments → Sheets",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Write Enrollments → Sheets": {
          "main": [
            [
              {
                "node": "Query Certificates",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Query Certificates": {
          "main": [
            [
              {
                "node": "Clear Certificates Sheet",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Clear Certificates Sheet": {
          "main": [
            [
              {
                "node": "Write Certificates → Sheets",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Write Certificates → Sheets": {
          "main": [
            [
              {
                "node": "Query DB Snapshot",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Query DB Snapshot": {
          "main": [
            [
              {
                "node": "Write Snapshot → Sheets",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Write Snapshot → Sheets": {
          "main": [
            [
              {
                "node": "Build Summary",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Build Summary": {
          "main": [
            [
              {
                "node": "Notify Slack — Backup Complete",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner"
      },
      "versionId": "bkp-v1-00000000-0000-0000-0000-000000000002",
      "meta": {
        "templateCredsSetupCompleted": false,
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "id": "BackupToGSheets01",
      "tags": [
        {
          "createdAt": "2026-02-24T00:00:00.000Z",
          "updatedAt": "2026-02-24T00:00:00.000Z",
          "id": "backup-tag-lms",
          "name": "LMS"
        },
        {
          "createdAt": "2026-02-24T00:00:00.000Z",
          "updatedAt": "2026-02-24T00:00:00.000Z",
          "id": "backup-tag-backup",
          "name": "Backup"
        }
      ]
    },
    {
      "name": "Agent 15 — Assignment Intake",
      "nodes": [
        {
          "parameters": {
            "path": "slack-interactions",
            "responseMode": "responseNode",
            "options": {}
          },
          "id": "a1500000-0000-0000-0000-000000000001",
          "name": "Slack Interactions Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [
            -960,
            120
          ],
          "webhookId": "a15-assignment-intake-webhook"
        },
        {
          "parameters": {
            "jsCode": "const root = $json.body ?? $json;\nconst payload = typeof root.payload === 'string' ? JSON.parse(root.payload) : (root.payload || root);\nreturn [{ json: payload }];"
          },
          "id": "a1500000-0000-0000-0000-000000000002",
          "name": "Parse Interaction Payload",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -760,
            120
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "leftValue": "={{ $json.type }}",
                  "rightValue": "block_actions",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                },
                {
                  "leftValue": "={{ $json.actions[0].action_id }}",
                  "rightValue": "nudge_assignment_icon",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a1500000-0000-0000-0000-000000000003",
          "name": "Is Assignment Icon Click",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            -560,
            120
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://slack.com/api/views.open",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
                }
              ]
            },
            "sendBody": true,
            "contentType": "json",
            "body": {
              "trigger_id": "={{ $json.trigger_id }}",
              "view": "={{ JSON.stringify({\n            type: 'modal',\n            callback_id: 'assignment_submission_modal',\n            title: { type: 'plain_text', text: 'Submit Assignment' },\n            submit: { type: 'plain_text', text: 'Save' },\n            close: { type: 'plain_text', text: 'Cancel' },\n            private_metadata: JSON.stringify({\n              user_id: $json.user.id,\n              lesson_id: JSON.parse($json.actions[0].value || '{}').lesson_id || '',\n              course_title: JSON.parse($json.actions[0].value || '{}').course_title || ''\n            }),\n            blocks: [\n              {\n                type: 'input',\n                block_id: 'assignment_link_block',\n                label: { type: 'plain_text', text: 'Assignment link (Google Doc/URL)' },\n                element: { type: 'plain_text_input', action_id: 'assignment_link_input', placeholder: { type: 'plain_text', text: 'https://...' } }\n              },\n              {\n                type: 'input',\n                block_id: 'assignment_screenshot_block',\n                optional: true,\n                label: { type: 'plain_text', text: 'Screenshot URL (optional)' },\n                element: { type: 'plain_text_input', action_id: 'assignment_screenshot_input', placeholder: { type: 'plain_text', text: 'https://...' } }\n              }\n            ]\n          }) }}"
            },
            "options": {}
          },
          "id": "a1500000-0000-0000-0000-000000000004",
          "name": "Open Assignment Modal",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            -360,
            40
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "leftValue": "={{ $json.type }}",
                  "rightValue": "view_submission",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                },
                {
                  "leftValue": "={{ $json.view.callback_id }}",
                  "rightValue": "assignment_submission_modal",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a1500000-0000-0000-0000-000000000005",
          "name": "Is Assignment Modal Submit",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            -360,
            220
          ]
        },
        {
          "parameters": {
            "jsCode": "const meta = JSON.parse($json.view.private_metadata || '{}');\nconst values = $json.view.state.values || {};\nconst link = values.assignment_link_block?.assignment_link_input?.value || '';\nconst screenshot = values.assignment_screenshot_block?.assignment_screenshot_input?.value || '';\nconst date = new Date().toISOString().replace(/[:.]/g, '-');\nconst safeUser = String(meta.user_id || $json.user?.id || 'unknown').replace(/[^a-zA-Z0-9_-]/g, '_');\nconst safeLesson = String(meta.lesson_id || 'na').replace(/[^a-zA-Z0-9_-]/g, '_');\nconst auto_filename = `assignment_${safeUser}_lesson-${safeLesson}_${date}.json`;\nreturn [{ json: { user_id: safeUser, lesson_id: safeLesson, course_title: meta.course_title || '', assignment_link: link, screenshot_url: screenshot, auto_filename } }];"
          },
          "id": "a1500000-0000-0000-0000-000000000006",
          "name": "Build Auto Filename",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -160,
            220
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{ $env.ASSIGNMENT_DRIVE_WEBHOOK_URL }}",
            "sendBody": true,
            "contentType": "json",
            "body": "={{ JSON.stringify($json) }}",
            "options": {}
          },
          "id": "a1500000-0000-0000-0000-000000000007",
          "name": "Save To Drive Webhook",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            40,
            220
          ]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={ \"response_action\": \"clear\" }",
            "options": {
              "responseCode": 200
            }
          },
          "id": "a1500000-0000-0000-0000-000000000008",
          "name": "Respond OK",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.1,
          "position": [
            240,
            120
          ]
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT id, slack_user_id FROM users WHERE slack_user_id = $1 LIMIT 1;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.user.id || $json.user_id || '']) }}"
            }
          },
          "id": "a1500000-0000-0000-0000-000000000009",
          "name": "Resolve User For Reaction",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            -160,
            40
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "INSERT INTO nudge_reactions (user_id, lesson_id, reaction_type, payload) VALUES ($1, NULLIF($2,'')::INT, $3, $4::jsonb);",
            "options": {
              "queryParameters": "={{ JSON.stringify([$('Resolve User For Reaction').item.json.id, String(JSON.parse($json.actions[0].value || '{}').lesson_id || ''), 'assignment_icon', JSON.stringify($json)]) }}"
            }
          },
          "id": "a1500000-0000-0000-0000-000000000010",
          "name": "Log Assignment Icon Reaction",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            40,
            40
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT id, slack_user_id FROM users WHERE slack_user_id = $1 LIMIT 1;",
            "options": {
              "queryParameters": "={{ JSON.stringify([$json.user_id || '']) }}"
            }
          },
          "id": "a1500000-0000-0000-0000-000000000011",
          "name": "Resolve User For Submission",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            240,
            220
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "INSERT INTO nudge_reactions (user_id, lesson_id, reaction_type, payload) VALUES ($1, NULLIF($2,'')::INT, 'assignment_submit', $3::jsonb);",
            "options": {
              "queryParameters": "={{ JSON.stringify([$('Resolve User For Submission').item.json.id, String($json.lesson_id || ''), JSON.stringify($json)]) }}"
            }
          },
          "id": "a1500000-0000-0000-0000-000000000012",
          "name": "Log Assignment Submit Reaction",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            440,
            200
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "INSERT INTO assignment_submissions (user_id, lesson_id, course_title, assignment_link, screenshot_url, drive_filename, payload) VALUES ($1, NULLIF($2,'')::INT, $3, $4, $5, $6, $7::jsonb);",
            "options": {
              "queryParameters": "={{ JSON.stringify([$('Resolve User For Submission').item.json.id, String($json.lesson_id || ''), $json.course_title || '', $json.assignment_link || '', $json.screenshot_url || '', $json.auto_filename || '', JSON.stringify($json)]) }}"
            }
          },
          "id": "a1500000-0000-0000-0000-000000000013",
          "name": "Store Assignment Submission",
          "type": "n8n-nodes-base.postgres",
          "typeVersion": 2.5,
          "position": [
            440,
            260
          ],
          "credentials": {
            "postgres": {
              "id": "postgres-creds",
              "name": "LMS Postgres"
            }
          }
        }
      ],
      "connections": {
        "Slack Interactions Webhook": {
          "main": [
            [
              {
                "node": "Parse Interaction Payload",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parse Interaction Payload": {
          "main": [
            [
              {
                "node": "Is Assignment Icon Click",
                "type": "main",
                "index": 0
              },
              {
                "node": "Is Assignment Modal Submit",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Is Assignment Icon Click": {
          "main": [
            [
              {
                "node": "Open Assignment Modal",
                "type": "main",
                "index": 0
              },
              {
                "node": "Resolve User For Reaction",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Respond OK",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Open Assignment Modal": {
          "main": [
            [
              {
                "node": "Respond OK",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Is Assignment Modal Submit": {
          "main": [
            [
              {
                "node": "Build Auto Filename",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Respond OK",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Build Auto Filename": {
          "main": [
            [
              {
                "node": "Resolve User For Submission",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Save To Drive Webhook": {
          "main": [
            [
              {
                "node": "Respond OK",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Resolve User For Reaction": {
          "main": [
            [
              {
                "node": "Log Assignment Icon Reaction",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Resolve User For Submission": {
          "main": [
            [
              {
                "node": "Store Assignment Submission",
                "type": "main",
                "index": 0
              },
              {
                "node": "Log Assignment Submit Reaction",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Store Assignment Submission": {
          "main": [
            [
              {
                "node": "Save To Drive Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": false,
      "id": "a15AssignmentIntake001",
      "tags": [
        {
          "name": "LMS"
        },
        {
          "name": "Assignment"
        },
        {
          "name": "Slack Interactions"
        }
      ]
    },
    {
      "name": "LMS Gemini Supervisor Router",
      "nodes": [
        {
          "parameters": {
            "jsCode": "const root = $json.body ?? $json;\n\nreturn [\n  {\n    json: {\n      team_id: root.team_id ?? '',\n      team_domain: root.team_domain ?? '',\n\n      channel_id: root.channel_id ?? '',\n      channel_name: root.channel_name ?? '',\n\n      user_id: root.user_id ?? '',\n      user_name: root.user_name ?? '',\n\n      command: root.command ?? '',\n      text: root.text ?? '',\n\n      response_url: root.response_url ?? '',\n      trigger_id: root.trigger_id ?? '',\n      api_app_id: root.api_app_id ?? '',\n      is_enterprise_install: root.is_enterprise_install ?? false,\n\n      raw_headers: root.raw_headers ?? {},\n      raw_params: root.raw_params ?? {},\n      raw_query: root.raw_query ?? {}\n    }\n  }\n];\n"
          },
          "id": "c745bf42-1d2c-4d27-9e1d-ddac85ae794e",
          "name": "Parse Slack Payload",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -3472,
            1712
          ]
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "59b6acc4-bd9a-4953-9c82-7addf40fc420",
                        "leftValue": "/onboard",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals",
                          "name": "filter.operator.equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "7d935e52-4291-4df1-8992-364cf9b91936",
                        "leftValue": "/enroll",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals",
                          "name": "filter.operator.equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "24d0ae7e-9d22-4b92-9b51-df8c0ec6ceac",
                        "leftValue": "/progress",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "leftValue": "/learn",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "id": "0078ac4a-c91f-470f-9d28-33f9fe395193"
                      }
                    ],
                    "combinator": "and"
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "6732be2c-6afb-4e07-a759-4284a1e79590",
                        "leftValue": "/submit",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "1adfb894-735f-4d12-b08f-10615f5a831b",
                        "leftValue": "/cert",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "ac0e669b-a75d-4d8f-b932-095f75ea319a",
                        "leftValue": "/report",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "75d988cb-b41b-4676-a915-d0e938c5769e",
                        "leftValue": "/gaps",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "a5000000-0000-0000-0000-sw0000000001",
                        "leftValue": "/courses",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "a6000000-0000-0000-0000-sw0000000001",
                        "leftValue": "/help",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  }
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "a10000000-0000-0000-0000-sw000000001",
                        "leftValue": "/unenroll",
                        "rightValue": "={{ $json.command }}",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        }
                      }
                    ],
                    "combinator": "and"
                  }
                }
              ]
            },
            "looseTypeValidation": true,
            "options": {}
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.4,
          "position": [
            -3024,
            1616
          ],
          "id": "a82e8e87-6bc5-4a60-b213-04fc1bf17d31",
          "name": "Switch",
          "alwaysOutputData": false,
          "executeOnce": false,
          "retryOnFail": false,
          "notesInFlow": true
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            -3696,
            2608
          ],
          "id": "cc8e995e-df71-40e7-ba17-8b7f28cb6e43",
          "name": "When clicking 'Execute workflow'"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "BjxEx4DjqMwlkrU4",
              "mode": "list",
              "cachedResultUrl": "/workflow/BjxEx4DjqMwlkrU4",
              "cachedResultName": "Agent 08 — Enrollment Manager"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            1040
          ],
          "id": "3e070ae3-84b4-466c-8178-7c6f36f46f6f",
          "name": "Call 'Agent 08 — Enrollment Manager'"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "e0yErInDqhfKbNls",
              "mode": "list",
              "cachedResultUrl": "/workflow/e0yErInDqhfKbNls",
              "cachedResultName": "Agent 03 — Tutor"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            1616
          ],
          "id": "f1c41304-2d53-468d-83ca-01f3ccd7bc23",
          "name": "Call 'Agent 03 — Tutor'"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "wpJOwdjIluP9n6Tu",
              "mode": "list",
              "cachedResultUrl": "/workflow/wpJOwdjIluP9n6Tu",
              "cachedResultName": "Agent 02 — Quiz Master"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            1808
          ],
          "id": "158f1212-ceb4-49e4-87a6-c3ec27e4f81f",
          "name": "Call 'Agent 2 — Quiz"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "z8j0WZhQCfsduOdi",
              "mode": "list",
              "cachedResultUrl": "/workflow/z8j0WZhQCfsduOdi",
              "cachedResultName": "Agent 04 — Progress Tracker"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            1424
          ],
          "id": "645be86a-1410-437b-bb6b-78b3816bc483",
          "name": "Call 'Agent 04 — Progress"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "TcY8C8malQ5SiTqZ",
              "mode": "list",
              "cachedResultUrl": "/workflow/TcY8C8malQ5SiTqZ",
              "cachedResultName": "Agent 07 — Certification"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            2000
          ],
          "id": "a2ef74f2-8248-4d03-8a63-ec54764cc853",
          "name": "Call 'Agent 07 — Cert"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "HpgyOs9wKZz2mAQd",
              "mode": "list",
              "cachedResultUrl": "/workflow/HpgyOs9wKZz2mAQd",
              "cachedResultName": "Agent 12 — Reporting Agent (Gemini)"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            2192
          ],
          "id": "c9967eb6-6cea-41ee-9d50-b375f4b9c756",
          "name": "Call 'Agent 12 — Reporting Agent (Gemini)'"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "g5ZY673tbmDswpl4",
              "mode": "list",
              "cachedResultUrl": "/workflow/g5ZY673tbmDswpl4",
              "cachedResultName": "Agent 09 — Gap Analyst (Gemini)"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            2416
          ],
          "id": "93e6cbae-c305-4d20-a8f6-088d24626536",
          "name": "Call 'Agent 09 — Gap Analyst (Gemini)'"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "a5CatalogWrkflw01",
              "mode": "list",
              "cachedResultUrl": "/workflow/a5CatalogWrkflw01",
              "cachedResultName": "Agent 05 — Course Catalog"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            2608
          ],
          "id": "a5000000-0000-0000-0000-000000000010",
          "name": "Call 'Agent 05 — Course Catalog'"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "a6HelpWorkflow001",
              "mode": "list",
              "cachedResultUrl": "/workflow/a6HelpWorkflow001",
              "cachedResultName": "Agent 06 — Help"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            2800
          ],
          "id": "a6000000-0000-0000-0000-000000000010",
          "name": "Call 'Agent 06 — Help'"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "a10UnEnrollAgent1",
              "mode": "list",
              "cachedResultUrl": "/workflow/a10UnEnrollAgent1",
              "cachedResultName": "Agent 10 — Unenroll"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            2992
          ],
          "id": "a10000000-0000-0000-0000-000000000010",
          "name": "Call 'Agent 10 — Unenroll'"
        },
        {
          "parameters": {
            "mode": "raw",
            "jsonOutput": "={\n  \"team_id\": \"{{ $json.team_id || '' }}\",\n  \"team_domain\": \"{{ $json.team_domain || '' }}\",\n\n  \"channel_id\": \"{{ $json.channel_id || '' }}\",\n  \"channel_name\": \"{{ $json.channel_name || '' }}\",\n\n  \"user_id\": \"{{ $json.user_id || '' }}\",\n  \"user_name\": \"{{ $json.user_name || '' }}\",\n\n  \"command\": \"{{ $json.command || '' }}\",\n  \"text\": \"{{ $json.text || '' }}\",\n\n  \"lesson\": {{ Number(($json.text || '').split(' ')[1] || 0) }},\n\n  \"response_url\": \"{{ $json.response_url || '' }}\",\n  \"trigger_id\": \"{{ $json.trigger_id || '' }}\",\n  \"api_app_id\": \"{{ $json.api_app_id || '' }}\",\n  \"is_enterprise_install\": {{ $json.is_enterprise_install || false }},\n\n  \"raw_headers\": {{ JSON.stringify($json.raw_headers || {}) }},\n  \"raw_params\": {{ JSON.stringify($json.raw_params || {}) }},\n  \"raw_query\": {{ JSON.stringify($json.raw_query || {}) }}\n}\n",
            "includeOtherFields": true,
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -3248,
            1712
          ],
          "id": "95ff24dd-6ffa-4798-8e7c-80ec6d7d6ea5",
          "name": "Edit Fields"
        },
        {
          "parameters": {
            "workflowId": {
              "__rl": true,
              "value": "R8adLhGssCewBrKC",
              "mode": "list",
              "cachedResultUrl": "/workflow/R8adLhGssCewBrKC",
              "cachedResultName": "Agent 13 — Onboarding Agent (Gemini)"
            },
            "workflowInputs": {
              "mappingMode": "defineBelow",
              "value": {},
              "matchingColumns": [],
              "schema": [],
              "attemptToConvertTypes": false,
              "convertFieldsToString": true
            },
            "options": {}
          },
          "type": "n8n-nodes-base.executeWorkflow",
          "typeVersion": 1.3,
          "position": [
            -2800,
            1232
          ],
          "id": "b9535e98-d224-4612-9528-e6b90a89f2ab",
          "name": "Call 'Agent 13 — Onboarding"
        },
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "supervisor",
            "options": {
              "rawBody": true
            }
          },
          "id": "937ee444-b27c-4985-b342-b4901c92aacc",
          "name": "Slack Supervisor Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [
            -3696,
            1712
          ],
          "webhookId": "900f3f53-7809-49a2-92f1-13d130c83f4f"
        },
        {
          "parameters": {
            "jsCode": "const crypto = require('crypto');\n\n// rawBody requires the Webhook node option rawBody: true\nconst raw = $input.first().json;\nconst rawBody = raw.rawBody || '';\nconst headers = raw.headers || {};\n\nconst timestamp = String(headers['x-slack-request-timestamp'] || '');\nconst slackSignature = String(headers['x-slack-signature'] || '');\nconst signingSecret = String($env.SLACK_SIGNING_SECRET || '');\n\n// Replay-attack protection: reject requests older than 5 minutes\nconst fiveMinutesAgo = Math.floor(Date.now() / 1000) - 300;\nif (!timestamp || parseInt(timestamp, 10) < fiveMinutesAgo) {\n  return [{ json: { valid: false, reason: 'timestamp_expired_or_missing', ...raw } }];\n}\n\nif (!signingSecret) {\n  // Fail closed: if secret is not configured, reject all requests\n  return [{ json: { valid: false, reason: 'signing_secret_not_configured', ...raw } }];\n}\n\nconst baseString = `v0:${timestamp}:${rawBody}`;\nconst hmac = crypto.createHmac('sha256', signingSecret).update(baseString).digest('hex');\nconst computed = `v0=${hmac}`;\n\n// Constant-time comparison prevents timing attacks\nlet valid = false;\ntry {\n  const a = Buffer.from(computed, 'utf8');\n  const b = Buffer.from(slackSignature, 'utf8');\n  if (a.length === b.length) {\n    valid = crypto.timingSafeEqual(a, b);\n  }\n} catch (e) {\n  valid = false;\n}\n\nreturn [{ json: { valid, ...raw } }];\n"
          },
          "id": "sec00001-0000-0000-0000-000000000001",
          "name": "Validate Slack Signature",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -3920,
            1712
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "sec00001-0000-0000-0000-000000000010",
                  "leftValue": "={{ $json.valid }}",
                  "rightValue": true,
                  "operator": {
                    "type": "boolean",
                    "operation": "true"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "sec00001-0000-0000-0000-000000000002",
          "name": "Signature Valid?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            -3760,
            1712
          ]
        },
        {
          "parameters": {
            "respondWith": "text",
            "responseBody": "Invalid request signature",
            "options": {
              "responseCode": 401
            }
          },
          "id": "sec00001-0000-0000-0000-000000000003",
          "name": "Reject — Invalid Signature",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.1,
          "position": [
            -3760,
            1900
          ]
        }
      ],
      "pinData": {
        "When clicking 'Execute workflow'": [
          {
            "json": {
              "team_id": "TTEST",
              "team_domain": "test-domain",
              "channel_id": "CTEST",
              "channel_name": "general",
              "user_id": "UTEST",
              "user_name": "tester",
              "command": "/learn",
              "text": "/learn 2",
              "response_url": "https://example.com",
              "trigger_id": "trigger123",
              "api_app_id": "APP123",
              "is_enterprise_install": false,
              "raw_headers": {},
              "raw_params": {},
              "raw_query": {}
            }
          }
        ]
      },
      "connections": {
        "Parse Slack Payload": {
          "main": [
            [
              {
                "node": "Edit Fields",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch": {
          "main": [
            [
              {
                "node": "Call 'Agent 13 — Onboarding",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Call 'Agent 08 — Enrollment Manager'",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Call 'Agent 04 — Progress",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Call 'Agent 03 — Tutor'",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Call 'Agent 2 — Quiz",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Call 'Agent 07 — Cert",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Call 'Agent 12 — Reporting Agent (Gemini)'",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Call 'Agent 09 — Gap Analyst (Gemini)'",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Call 'Agent 05 — Course Catalog'",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Call 'Agent 06 — Help'",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Call 'Agent 10 — Unenroll'",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Call 'Agent 05 — Course Catalog'": {
          "main": [
            []
          ]
        },
        "Call 'Agent 06 — Help'": {
          "main": [
            []
          ]
        },
        "Call 'Agent 10 — Unenroll'": {
          "main": [
            []
          ]
        },
        "When clicking 'Execute workflow'": {
          "main": [
            []
          ]
        },
        "Edit Fields": {
          "main": [
            [
              {
                "node": "Switch",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Call 'Agent 13 — Onboarding": {
          "main": [
            []
          ]
        },
        "Slack Supervisor Webhook": {
          "main": [
            [
              {
                "node": "Validate Slack Signature",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Validate Slack Signature": {
          "main": [
            [
              {
                "node": "Signature Valid?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Signature Valid?": {
          "main": [
            [
              {
                "node": "Parse Slack Payload",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Reject — Invalid Signature",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "active": true,
      "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
      },
      "versionId": "045ca9ee-4cad-4d28-8431-becac62b30c9",
      "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
      },
      "id": "SNcVr61oFTiFjoCB",
      "tags": [
        {
          "updatedAt": "2026-02-16T06:14:40.926Z",
          "createdAt": "2026-02-16T06:14:40.926Z",
          "id": "BNv6mdpAofzPh0FF",
          "name": "Gemini"
        },
        {
          "updatedAt": "2026-02-16T05:27:31.215Z",
          "createdAt": "2026-02-16T05:27:31.215Z",
          "id": "ZkyYwn2ulUUTMSgC",
          "name": "Supervisor"
        },
        {
          "updatedAt": "2026-02-16T05:27:31.198Z",
          "createdAt": "2026-02-16T05:27:31.198Z",
          "id": "rowc3WzuOB7F72w9",
          "name": "LMS"
        }
      ]
    }
  ]
}