archive/workflows-legacy/agent_subworkflow_template.workflow.json
{
  "name": "agent_template_replace_me",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst now = new Date().toISOString();\nreturn [{ json: { ...input, agentStatus: 'processed', processedAt: now } }];"
      },
      "id": "processInput",
      "name": "Process Agent Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true, route: $json.intent || 'unknown', payload: $json } }];"
      },
      "id": "buildResponse",
      "name": "Build Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Process Agent Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Agent Logic": {
      "main": [
        [
          {
            "node": "Build Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "replace-with-generated-version-id"
}
