archive/workflows-legacy/slack_onboard.workflow.json
{
  "name": "slack_onboard_router",
  "nodes": [
    {
      "parameters": {
        "path": "onboard",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhookIn",
      "name": "Slack Onboard Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst headers = $json.headers || {};\nconst body = $json.body || $json;\nconst ts = headers['x-slack-request-timestamp'] || headers['X-Slack-Request-Timestamp'];\nconst sig = headers['x-slack-signature'] || headers['X-Slack-Signature'];\nconst secret = $env.SLACK_SIGNING_SECRET;\n\nif (!secret) {\n  throw new Error('SLACK_SIGNING_SECRET is not set');\n}\n\nif (!ts || !sig) {\n  return [{ json: { isValid: false, reason: 'missing_signature_headers', body } }];\n}\n\nconst age = Math.abs(Math.floor(Date.now() / 1000) - Number(ts));\nif (!Number.isFinite(age) || age > 300) {\n  return [{ json: { isValid: false, reason: 'stale_timestamp', body } }];\n}\n\nconst rawBody = typeof body === 'string' ? body : new URLSearchParams(body).toString();\nconst baseString = `v0:${ts}:${rawBody}`;\nconst expected = `v0=${crypto.createHmac('sha256', secret).update(baseString).digest('hex')}`;\nconst provided = String(sig).trim();\nconst ok = (provided.length === expected.length) && crypto.timingSafeEqual(Buffer.from(provided), Buffer.from(expected));\n\nreturn [{ json: { isValid: ok, reason: ok ? 'ok' : 'invalid_signature', body } }];"
      },
      "id": "validateSlackSignature",
      "name": "Validate Slack Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.isValid}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "ifSignatureValid",
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        620,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst rawText = String(body.text || '').trim();\nconst text = rawText.slice(0, 1000);\n\nreturn [{\n  json: {\n    intent: 'onboard_user',\n    agentId: 13,\n    isSupported: true,\n    command: '/onboard',\n    text,\n    learner: {\n      slackUserId: body.user_id || null,\n      userName: body.user_name || null\n    },\n    meta: {\n      receivedAt: new Date().toISOString(),\n      source: 'slack',\n      requestId: body.trigger_id || body.api_app_id || null,\n      textTruncated: rawText.length > 1000\n    }\n  }\n}];"
      },
      "id": "buildOnboardPayload",
      "name": "Build Onboarding Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": "agent_13_onboarding",
        "mode": "each",
        "waitForSubWorkflow": false
      },
      "id": "callOnboardingAgent",
      "name": "Call Agent 13 Onboarding",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1120,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.isValid === false ? { ok: false, error: 'unauthorized', reason: $json.reason } : { ok: true, intent: 'onboard_user', agentId: 13, accepted: true } }}"
      },
      "id": "respond",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        320
      ]
    }
  ],
  "connections": {
    "Slack Onboard Webhook": {
      "main": [
        [
          {
            "node": "Validate Slack Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Slack Signature": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Build Onboarding Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Onboarding Payload": {
      "main": [
        [
          {
            "node": "Call Agent 13 Onboarding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "replace-with-generated-version-id"
}
