n8n/workflows/agent-11-proactive-nudge.json
{
  "name": "Agent 11 \u2014 Proactive Nudge",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "a11000000-0000-0000-0000-000000000001",
      "name": "Daily 9am Weekday Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.slack_user_id,\n  u.display_name,\n  c.title AS course_title,\n  m.title AS current_module_title,\n  e.current_module_id AS lesson_id,\n  (\n    SELECT COUNT(*) FROM progress p\n    JOIN modules m2 ON m2.id = p.module_id\n    WHERE p.user_id = u.id AND m2.course_id = c.id\n  ) AS completed_modules,\n  (SELECT COUNT(*) FROM modules WHERE course_id = c.id) AS total_modules,\n  (\n    SELECT MAX(p.completed_at) FROM progress p\n    JOIN modules m2 ON m2.id = p.module_id\n    WHERE p.user_id = u.id AND m2.course_id = c.id\n  ) AS last_activity\nFROM users u\nJOIN enrolments e ON e.user_id = u.id AND e.completed_at IS NULL\nJOIN courses c ON c.id = e.course_id\nLEFT JOIN modules m ON m.id = e.current_module_id\nWHERE\n  -- No module completed in the last 3 days\n  NOT EXISTS (\n    SELECT 1 FROM progress p\n    JOIN modules m2 ON m2.id = p.module_id\n    WHERE p.user_id = u.id\n      AND m2.course_id = c.id\n      AND p.completed_at > NOW() - INTERVAL '3 days'\n  )\n  -- Not already nudged in the last 24 hours\n  AND NOT EXISTS (\n    SELECT 1 FROM notifications n\n    WHERE n.user_id = u.id\n      AND n.notification_type = 'nudge'\n      AND n.sent_at > NOW() - INTERVAL '24 hours'\n  )\nORDER BY u.display_name;",
        "options": {}
      },
      "id": "a11000000-0000-0000-0000-000000000002",
      "name": "Get Stuck Learners",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        240,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "LMS Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "channel": "={{ $json.slack_user_id }}",
          "blocks": [
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "=\ud83d\udc4b Hey {{ $json.display_name || 'there' }}! You haven't visited the LMS in a few days.\n\n*Course:* {{ $json.course_title }}\n*Where you left off:* {{ $json.current_module_title || 'Module 1' }}\n*Progress:* {{ $json.completed_modules }}/{{ $json.total_modules }} modules complete\n\nReady to pick up where you left off? React using the buttons below to review progress or resume your lesson. \ud83d\ude80"
              }
            },
            {
              "type": "context",
              "elements": [
                {
                  "type": "mrkdwn",
                  "text": "Use the buttons to react. `Resume Lesson` carries your lesson id so the next step can fetch that lesson quickly."
                }
              ]
            },
            {
              "type": "actions",
              "elements": [
                {
                  "type": "button",
                  "action_id": "nudge_view_progress",
                  "text": {
                    "type": "plain_text",
                    "text": "View Progress"
                  },
                  "value": "progress"
                },
                {
                  "type": "button",
                  "action_id": "nudge_resume_lesson",
                  "text": {
                    "type": "plain_text",
                    "text": "Resume Lesson"
                  },
                  "value": "={{ String($json.lesson_id || \"\") }}"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "a11000000-0000-0000-0000-000000000003",
      "name": "Send DM Nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notifications (user_id, notification_type, message)\nSELECT u.id, 'nudge', 'Nudged about course: ' || $2\nFROM users u WHERE u.slack_user_id = $1;",
        "options": {
          "queryParameters": "={{ JSON.stringify([$json.slack_user_id, $json.course_title]) }}"
        }
      },
      "id": "a11000000-0000-0000-0000-000000000004",
      "name": "Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        720,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "LMS Postgres"
        }
      }
    }
  ],
  "connections": {
    "Daily 9am Weekday Trigger": {
      "main": [
        [
          {
            "node": "Get Stuck Learners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stuck Learners": {
      "main": [
        [
          {
            "node": "Send DM Nudge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send DM Nudge": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "id": "a11NudgeAgent001",
  "meta": {
    "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86"
  },
  "tags": [
    {
      "name": "LMS"
    },
    {
      "name": "Nudge"
    },
    {
      "name": "Cron"
    }
  ]
}
