n8n/workflows/agent-10-unenroll.json
{
  "name": "Agent 10 — Unenroll",
  "nodes": [
    {
      "parameters": {},
      "id": "a10000000-0000-0000-0000-000000000001",
      "name": "When Called by Supervisor",
      "type": "n8n-nodes-base.workflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst courseCode = (payload.text || '').trim().toUpperCase();\nif (!courseCode) {\n  return [{ json: { ...payload, courseCode: '', error: 'no_code' } }];\n}\nreturn [{ json: { ...payload, courseCode } }];\n"
      },
      "id": "a10000000-0000-0000-0000-000000000002",
      "name": "Extract Course Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "has-code",
              "leftValue": "={{ $json.error }}",
              "rightValue": "no_code",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a10000000-0000-0000-0000-000000000003",
      "name": "Has Course Code?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "response_type": "ephemeral",
          "text": "Please provide a course code. Usage: `/unenroll <COURSE-CODE>`\n\nUse `/courses` to see courses you're enrolled in."
        },
        "options": {}
      },
      "id": "a10000000-0000-0000-0000-000000000004",
      "name": "No Code Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  e.id AS enrolment_id,\n  c.title AS course_title,\n  c.code AS course_code,\n  e.completed_at\nFROM enrolments e\nJOIN courses c ON c.id = e.course_id\nJOIN users u ON u.id = e.user_id\nWHERE u.slack_user_id = $1\n  AND UPPER(c.code) = $2;",
        "options": {
          "queryParameters": "={{ JSON.stringify([$json.user_id, $json.courseCode]) }}"
        }
      },
      "id": "a10000000-0000-0000-0000-000000000005",
      "name": "Lookup Enrolment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, -200],
      "credentials": { "postgres": { "id": "postgres-creds", "name": "LMS Postgres" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "is-enrolled",
              "leftValue": "={{ $json.enrolment_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a10000000-0000-0000-0000-000000000006",
      "name": "Is Enrolled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [960, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "response_type": "ephemeral",
          "text": "You're not enrolled in *{{ $('Extract Course Code').item.json.courseCode }}*. Use `/courses` to see available courses."
        },
        "options": {}
      },
      "id": "a10000000-0000-0000-0000-000000000007",
      "name": "Not Enrolled Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM enrolments WHERE id = $1 RETURNING id;",
        "options": {
          "queryParameters": "={{ JSON.stringify([$json.enrolment_id]) }}"
        }
      },
      "id": "a10000000-0000-0000-0000-000000000008",
      "name": "Delete Enrolment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, -400],
      "credentials": { "postgres": { "id": "postgres-creds", "name": "LMS Postgres" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Called by Supervisor').item.json.response_url }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "response_type": "ephemeral",
          "text": "You have been unenrolled from *{{ $('Lookup Enrolment').item.json.course_title }}*. Your progress records have been removed.\n\nUse `/courses` to find other courses, or `/enroll {{ $('Lookup Enrolment').item.json.course_code }}` to re-enrol."
        },
        "options": {}
      },
      "id": "a10000000-0000-0000-0000-000000000009",
      "name": "Send Unenroll Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, -400]
    }
  ],
  "connections": {
    "When Called by Supervisor": { "main": [[{ "node": "Extract Course Code", "type": "main", "index": 0 }]] },
    "Extract Course Code": { "main": [[{ "node": "Has Course Code?", "type": "main", "index": 0 }]] },
    "Has Course Code?": {
      "main": [
        [{ "node": "Lookup Enrolment", "type": "main", "index": 0 }],
        [{ "node": "No Code Reply", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Enrolment": { "main": [[{ "node": "Is Enrolled?", "type": "main", "index": 0 }]] },
    "Is Enrolled?": {
      "main": [
        [{ "node": "Delete Enrolment", "type": "main", "index": 0 }],
        [{ "node": "Not Enrolled Reply", "type": "main", "index": 0 }]
      ]
    },
    "Delete Enrolment": { "main": [[{ "node": "Send Unenroll Confirmation", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "id": "a10UnEnrollAgent1",
  "meta": { "instanceId": "ba37a5ead069c5845647db1501a84f6ed072f343613a89495632df83e5b43e86" },
  "tags": [{ "name": "LMS" }, { "name": "Enrollment" }]
}
