workflows/slack_supervisor.workflow.json
{
  "name": "Slack LMS Supervisor Router (Clean)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supervisor",
        "options": {}
      },
      "name": "Slack Supervisor Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-800, 300]
    },
    {
      "parameters": {
        "jsCode": "const root = $json.body ?? $json;\n\nreturn [{\n  json: {\n    team_id: root.team_id ?? '',\n    team_domain: root.team_domain ?? '',\n\n    channel_id: root.channel_id ?? '',\n    channel_name: root.channel_name ?? '',\n\n    user_id: root.user_id ?? '',\n    user_name: root.user_name ?? '',\n\n    command: root.command ?? '',\n    text: root.text ?? '',\n\n    response_url: root.response_url ?? '',\n    trigger_id: root.trigger_id ?? '',\n    api_app_id: root.api_app_id ?? '',\n    is_enterprise_install: root.is_enterprise_install ?? false,\n\n    raw_headers: root.headers ?? {},\n    raw_params: root.params ?? {},\n    raw_query: root.query ?? {}\n  }\n}];"
      },
      "name": "Parse Slack Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"team_id\": \"{{ $json.team_id || '' }}\",\n  \"team_domain\": \"{{ $json.team_domain || '' }}\",\n\n  \"channel_id\": \"{{ $json.channel_id || '' }}\",\n  \"channel_name\": \"{{ $json.channel_name || '' }}\",\n\n  \"user_id\": \"{{ $json.user_id || '' }}\",\n  \"user_name\": \"{{ $json.user_name || '' }}\",\n\n  \"command\": \"{{ $json.command || '' }}\",\n  \"text\": \"{{ $json.text || '' }}\",\n\n  \"lesson\": {{ Number(($json.text || '').split(' ')[1] || 0) }},\n\n  \"response_url\": \"{{ $json.response_url || '' }}\",\n  \"trigger_id\": \"{{ $json.trigger_id || '' }}\",\n  \"api_app_id\": \"{{ $json.api_app_id || '' }}\",\n  \"is_enterprise_install\": {{ $json.is_enterprise_install || false }},\n\n  \"raw_headers\": {{ JSON.stringify($json.raw_headers || {}) }},\n  \"raw_params\": {{ JSON.stringify($json.raw_params || {}) }},\n  \"raw_query\": {{ JSON.stringify($json.raw_query || {}) }}\n}\n",
        "includeOtherFields": true
      },
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-400, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "/onboard",
                    "rightValue": "={{ $json.command }}",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "/enroll",
                    "rightValue": "={{ $json.command }}",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "/progress",
                    "rightValue": "={{ $json.command }}",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "/learn",
                    "rightValue": "={{ $json.command }}",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "/quiz",
                    "rightValue": "={{ $json.command }}",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "/cert",
                    "rightValue": "={{ $json.command }}",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "/report",
                    "rightValue": "={{ $json.command }}",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "/gaps",
                    "rightValue": "={{ $json.command }}",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "name": "Switch by Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-200, 300]
    },
    {
      "parameters": { "workflowId": "", "options": {} },
      "name": "Call Agent 13 — Onboarding",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [50, 0]
    },
    {
      "parameters": { "workflowId": "", "options": {} },
      "name": "Call Agent 08 — Enrollment",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [50, 100]
    },
    {
      "parameters": { "workflowId": "", "options": {} },
      "name": "Call Agent 04 — Progress",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [50, 200]
    },
    {
      "parameters": { "workflowId": "", "options": {} },
      "name": "Call Agent 03 — Tutor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [50, 300]
    },
    {
      "parameters": { "workflowId": "", "options": {} },
      "name": "Call Agent 02 — Quiz",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [50, 400]
    },
    {
      "parameters": { "workflowId": "", "options": {} },
      "name": "Call Agent 07 — Certification",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [50, 500]
    },
    {
      "parameters": { "workflowId": "", "options": {} },
      "name": "Call Agent 12 — Reporting",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [50, 600]
    },
    {
      "parameters": { "workflowId": "", "options": {} },
      "name": "Call Agent 09 — Gap Analyst",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [50, 700]
    }
  ],
  "connections": {
    "Slack Supervisor Webhook": {
      "main": [[{ "node": "Parse Slack Payload", "type": "main", "index": 0 }]]
    },
    "Parse Slack Payload": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Switch by Command", "type": "main", "index": 0 }]]
    },
    "Switch by Command": {
      "main": [
        [{ "node": "Call Agent 13 — Onboarding", "type": "main", "index": 0 }],
        [{ "node": "Call Agent 08 — Enrollment", "type": "main", "index": 0 }],
        [{ "node": "Call Agent 04 — Progress", "type": "main", "index": 0 }],
        [{ "node": "Call Agent 03 — Tutor", "type": "main", "index": 0 }],
        [{ "node": "Call Agent 02 — Quiz", "type": "main", "index": 0 }],
        [{ "node": "Call Agent 07 — Certification", "type": "main", "index": 0 }],
        [{ "node": "Call Agent 12 — Reporting", "type": "main", "index": 0 }],
        [{ "node": "Call Agent 09 — Gap Analyst", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
